<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{layout/boot4}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        /** {*/
        /*    margin: 0;*/
        /*    padding: 0;*/
        /*}*/

        /*.container {*/
        /*    width: 500px;*/
        /*    margin: 0 auto;*/
        /*    padding: 25px*/
        /*}*/

        /*.container h1 {*/
        /*    text-align: left;*/
        /*    padding: 5px 5px 5px 15px;*/
        /*    color: #FFBB00;*/
        /*    border-left: 3px solid #FFBB00;*/
        /*    margin-bottom: 20px;*/
        /*}*/

        /*.chating {*/
        /*    background-color: #000;*/
        /*    width: 500px;*/
        /*    height: 500px;*/
        /*    overflow: auto;*/
        /*}*/

        /*.chating .me {*/
        /*    color: #F6F6F6;*/
        /*    text-align: right;*/
        /*}*/

        /*.chating .others {*/
        /*    color: #FFE400;*/
        /*    text-align: left;*/
        /*}*/

        /*input {*/
        /*    width: 330px;*/
        /*    height: 25px;*/
        /*}*/
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{~/js/calendar/moment-with-locales.js}"></script>
    <script th:src="@{~/js/chat.js}"></script>
    <link rel="stylesheet" th:href="@{~/css/ptChat.css}">
</head>

<div layout:fragment="content" class="wrapper">

    <div id="container" class="container">
        <input type="hidden" id="sessionId" value="">
        <input type="hidden" id="roomNumber" th:value="${roomNumber}">
        <input type="hidden" id="userName" name="userName" th:value="${session.loginName}">
        <div class="right">
            <div class="top">
            <span>방 이름 : <span th:text="${roomName}" class="name"></span></span>
            </div>
            <!--        // 내용 저장되는곳-->
            <div id="chating" class="chating">
                <div class="conversation-start">
                    <span class="today"></span>
                </div>
            </div>

            <!--        <div id="yourName">-->
            <!--            <table class="inputTable">-->
            <!--                <tr>-->
            <!--                    <th>사용자명</th>-->
            <!--                    <th><input type="text" th:value="${session.loginName}" name="userName" id="userName"></th>-->
            <!--                    <th><button onclick="chatName()" id="startBtn">이름 등록</button></th>-->
            <!--                </tr>-->
            <!--            </table>-->
            <!--        </div>-->
            <!--        <div id="yourMsg">-->
            <div class="write">
                <input type="text" id="chatting" placeholder="보내실 메시지를 입력하세요."/>
                <a type="button" onclick="send()" id="sendBtn" class="write-link send"></a>
            </div>
            <!--        </div>-->
        </div>
    </div>

</div>
</html>