<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{layout/boot4}"
>
<head>
    <meta charset="UTF-8">

    <title>PT 채팅</title>
    <link rel="stylesheet" th:href="@{~/css/ptChat.css}">
    <script th:src="@{~/js/calendar/moment-with-locales.js}"></script>
    <script th:src="@{~/js/ptChat.js}"></script>

    <style>
        /**{*/
        /*    margin:0;*/
        /*    padding:0;*/
        /*}*/
        /*.container{*/
        /*    width: 500px;*/
        /*    margin: 0 auto;*/
        /*    padding: 25px*/
        /*}*/
        /*.container h1{*/
        /*    text-align: left;*/
        /*    padding: 5px 5px 5px 15px;*/
        /*    color: #FFBB00;*/
        /*    border-left: 3px solid #FFBB00;*/
        /*    margin-bottom: 20px;*/
        /*}*/
        /*.chating{*/
        /*    background-color: #000;*/
        /*    width: 500px;*/
        /*    height: 500px;*/
        /*    overflow: auto;*/
        /*}*/
        /*.chating .me{*/
        /*    color: #F6F6F6;*/
        /*    text-align: right;*/
        /*}*/
        /*.chating .others{*/
        /*    color: #FFE400;*/
        /*    text-align: left;*/
        /*}*/
        /*input{*/
        /*    width: 330px;*/
        /*    height: 25px;*/
        /*}*/

    </style>
</head>
<div layout:fragment="content" class="wrapper">
    <!--    <div id="container" class="container">-->
    <!--        <h1>채팅</h1>-->
    <!--        <input type="hidden" id="sessionId" value="">-->
    <!--        <input type="hidden" id="userName" name="userName" th:value="${session.loginName}">-->


    <!--        <div id="chating" class="chating">-->
    <!--        </div>-->

    <!--        <div id="yourMsg">-->
    <!--            <table class="inputTable">-->
    <!--                <tr>-->
    <!--                    <th>메시지</th>-->
    <!--                    <th><input id="chatting" placeholder="보내실 메시지를 입력하세요."></th>-->
    <!--                    <th><button onclick="send()" id="sendBtn">보내기</button></th>-->
    <!--                </tr>-->
    <!--            </table>-->
    <!--        </div>-->
    <!--    </div>-->


    <div class="container" id="container">
        <div class="right">
            <input type="hidden" id="sessionId" value="">
            <input type="hidden" id="userName" name="userName" th:value="${session.loginName}">
            <div class="top"><span>To: <span class="name">이지아 트레이너</span></span></div>

            <div id="chating">
                <div class="conversation-start">
                    <span class="today"></span>
                </div>
            </div>


            <div class="write">
                <!--                    <a href="javascript:;" class="write-link attach"></a>-->
                <input type="text" id="chatting" placeholder="보내실 메시지를 입력하세요."/>
                <!--                    <a href="javascript:;" class="write-link smiley"></a>-->
                <a type="button" onclick="send()" id="sendBtn" class="write-link send"></a>
            </div>
        </div>
    </div>

</div>
</html>