<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{layout/boot4}"
>
<head>
    <title>Room</title>

    <link rel="stylesheet" th:href="@{~/css/room.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{~/js/roomchat.js}"></script>
</head>
<div layout:fragment="content">

    <div class="container">
        <div class="title"><h3>채팅방</h3></div>
        <div id="roomContainer" class="roomContainer">
            <table id="roomList" class="roomList"></table>
        </div>
        <div class="inputArea">
            <div class="roomInputTitle">채팅방 제목</div>
            <input type="text" name="roomName" id="roomName" class="form-control">
            <button id="createRoom" class="btn btn-primary">채팅방 생성</button>

            <input type="hidden" name="id" id="id" th:value="${session.loginUser}">
        </div>
    </div>

</div>
</html>