<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{~/js/main/jquery.min.js}"></script>
    <script th:src="@{~/js/main/jquery.easing.min.js}"></script>
    <script th:src="@{~/js/boastboard/boastboard.js}"></script>



</head>
<body>
<div layout:fragment="content" class="content">

    <div class="">
        <input type="hidden" th:value="${bb.id}" id="bb_num" name="bb_num">
        <input type="hidden" th:value="${session.loginUser}" id="member_id" name="member_id">
        <div th:text="${bb.title}" class=""></div>
        <div class="">
            <div class="">
                <div th:text="${bb.user_id}" class=""></div>
            </div>
            <div class="">
                <div class="">
                    <span>수정날짜:</span>
                    <span th:text="${#temporals.format(bb.modifiedDate, 'yyyy/MM/dd HH:mm:ss')}">

                    </span>
                </div>
                <div class="">
                    <span>조회수:</span>
                    <span th:text="${bb.hit}" class=""></span>
                </div>
            </div>
        </div>
    </div>

    <div>
        <img
                th:if="${bb.imgName != null}"
                width="200px"
                height="200px"
                th:src="@{/boastboard/displayBoard(fileName=${bb.fileName})}"
        />
        <img th:if="${bb.imgName == null}"/>
    </div>

    <div class="" th:text="${bb.content}"></div>

    <div class="">
        <a th:href="@{/boastboard/bbUpdate(bb_num = ${bb.id},
                                        page=${PageRequestDto.page},
                                        type=${PageRequestDto.type},
                                        keyword=${PageRequestDto.keyword})}"
           th:if="${session.loginId == bb.user_id}"
           class="">글수정</a>
        <a th:href="@{/boastboard/bb(page=${PageRequestDto.page},
                                        page=${PageRequestDto.page},
                                        type=${PageRequestDto.type},
                                        keyword=${PageRequestDto.keyword})}" class="">이전
        </a>
    </div>

    <!-- 추천 -->
    <div>
        <table style="text-align: center">
            <thead>
            <tr>
                <th>
                    <button id="l" onclick="EmoInsert('l')" style="border: none"><img th:src="@{~/image/like.png}"
                                                                                      width="25" height="25">
                        <p style="margin-top: 0px; margin-bottom: 0px" class="like">좋아요</p></button>
                </th>
                <th>
                    <button id="m" onclick="EmoInsert('m')" style="border: none"><img th:src="@{~/image/mlike.png}"
                                                                                      width="25" height="25">
                        <p style="margin-top: 0px; margin-bottom: 0px">훈훈해요</p></button>
                </th>
                <th>
                    <button id="s" onclick="EmoInsert('s')" style="border: none"><img th:src="@{~/image/sad.png}"
                                                                                      width="25" height="25">
                        <p style="margin-top: 0px; margin-bottom: 0px">슬퍼요</p></button>
                </th>
                <th>
                    <button id="a" onclick="EmoInsert('a')" style="border: none"><img th:src="@{~/image/angry.png}"
                                                                                      width="25" height="25">
                        <p style="margin-top: 0px; margin-bottom: 0px">화나요</p></button>
                </th>
                <th>
                    <button id="w" onclick="EmoInsert('w')" style="border: none"><img th:src="@{~/image/want.png}"
                                                                                      width="25" height="25">
                        <p style="margin-top: 0px; margin-bottom: 0px">추가 후기 원해요</p></button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td id="l_num"></td>
                <td id="m_num"></td>
                <td id="s_num"></td>
                <td id="a_num"></td>
                <td id="w_num"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>