<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{~/js/main/jquery.min.js}"></script>
    <script th:src="@{~/js/main/jquery.easing.min.js}"></script>

</head>
<body>
<div layout:fragment="content" class="">

    <form th:action="@{/boastboard/bb}" method="get" id="searchForm" class="board_info">
        <div>
            <h2>자랑 게시판</h2>
            <div>
                <a th:href="@{/board}">트레이너 게시판</a>
                <a th:href="@{/boastboard/bb}">자랑 게시판</a>
            </div>
            <input type="hidden" name="page" value="1">
            <div class="board_search">
                <select name="type">
                    <option value="t" th:selected="${PageRequestDto.type == 't'}">제목</option>
                    <option value="c" th:selected="${PageRequestDto.type == 'c'}">내용</option>
                    <option value="u" th:selected="${PageRequestDto.type == 'u'}">작성자</option>
                    <option value="tc" th:selected="${PageRequestDto.type == 'tc'}">제목+내용</option>
                </select>
                <input name="keyword" th:value="${PageRequestDto.keyword}" placeholder="검색어">
                <button type="button" class="custom_btn" onclick="search()">검색</button>
                <button type="button" class="custom_btn" onclick="Sclear()">초기화</button>
            </div>
        </div>

    </form>

    <table class="table table-striped">
        <thead class="thead-strong">
        <tr>
            <td width="10%">글번호</td>
            <td width="50%">글 제목</td>
            <td width="10%">작성자</td>
            <td width="10%">조회수</td>
            <td width="20%">글수정날짜</td>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="bb : ${result.dtoList}">
            <td th:text="${bb.id}"></td>
            <td>
                <a th:href="@{/boastboard/bbDetail(bb_num = ${bb.id},
                                        page=${PageRequestDto.page},
                                        type=${PageRequestDto.type},
                                        keyword=${PageRequestDto.keyword})}" th:text="${bb.title}"></a>
            </td>


            <td th:text="${bb.user_id}"></td>
            <td th:text="${bb.hit}"></td>
            <td th:text="${#temporals.format(bb.modifiedDate, 'yyyy/MM/dd HH:mm:ss')}"></td>
        </tr>
        </tbody>
    </table>

    <div class="text-center">
        <ul class="pagination">
            <li th:if="${result.prev}">
                <a class="custom_btn" th:href="@{/boastboard/bb(page = ${result.start -1},
                                        type=${PageRequestDto.type},
                                        keyword=${PageRequestDto.keyword})}">이전</a>
            </li>
            <li th:each="page: ${result.pageList}">
                <a class="custom_btn" th:href="@{/boastboard/bb(page= ${page},
                                        type=${PageRequestDto.type},
                                        keyword=${PageRequestDto.keyword})}" th:text="${page}">1</a>
            </li>
            <li th:if="${result.next}">
                <a class="custom_btn" th:href="@{/boastboard/bb(page = ${result.end +1},
                                        type=${PageRequestDto.type},
                                        keyword=${PageRequestDto.keyword})}">다음</a>
            </li>
        </ul>
    </div>

    <a class="btn btn-default pull-right" th:if="${session.loginRole == 'trainer'}" th:href="@{/boastboard/bbInsert}">등록</a>

    <script th:inline="javascript">

        var searchForm = $('#searchForm');

        function search() {
            searchForm.submit();
        }

        function Sclear() {
            searchForm.empty().submit();

        }


    </script>

</div>

</body>
</html>