<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/default}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{~/js/main/jquery.min.js}"></script>
    <script th:src="@{~/js/main/jquery.easing.min.js}"></script>
    <script th:src="@{~/js/boastboard/boastboard.js}"></script>
</head>
<body>
<div layout:fragment="content" class="content">

    <form>
        <input type="hidden" th:value="${session.loginUser}" id="member_id" name="member_id"/>
        <div>
            <label class="title">제목</label>
            <input type="text" class="" id="title" placeholder="제목을 입력하세요."/>
        </div>
        <div class="">
            <label for="user_id">작성자</label>
            <input class="" id="user_id" th:value="${session.loginId}" readonly/>
        </div>
        <div>
            <input name="uploadBoardFiles" type="file" multiple>
            <button type="button" class="uploadBtn">업로드</button>

            <div class="uploadResult">

            </div>
        </div>
        <div class="">
            <label for="bb_content">내용</label>
            <textarea class="" id="bb_content" placeholder="내용을 입력하세요." style="resize: none" cols="50"
                      rows="50"></textarea>
        </div>
    </form>
    <a th:href="@{/boastboard/bb}" role="button" class="">이전</a>
    <button type="button" class="" id="btn-save">등록</button>
    <script>

        // 사진 삭제
        $('.uploadResult').on("click", ".removeBtn", function (e) {

            var target = $(this);
            var fileName = target.data("name");
            var targetDiv = $(this).closest("div");
            console.log(fileName);
            console.log(target);
            console.log(targetDiv);


            $.post('/boastboard/removeBoardFile', {fileName: fileName}, function (result) {
                console.log(result);
                if (result === true) {
                    targetDiv.remove();
                }
            })
        })

        // 사진 받아오기
        $('.uploadBtn').click(function () {
            var formData = new FormData();
            var inputFile = $("input[type='file']");
            var files = inputFile[0].files;

            console.log(files)

            for (var i = 0; i < files.length; i++) {
                console.log(files[i]);
                formData.append("uploadBoardFiles", files[i]);
            }


            // 실제 업로드 부분
            $.ajax({
                url: '/boastboard/uploadBoardFile',
                processData: false,
                contentType: false,
                data: formData,
                type: "POST",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    showUploadedImages(result);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            }) // ajax end
        });

        function showUploadedImages(arr) {
            console.log(arr + "====================================");
            var divArea = $(".uploadResult");

            var str = "";
            for (var i = 0; i < arr.length; i++) {
                var uuid = arr[i].thumbnailURL;
                var imgName = arr[i].imageURL;
                var fileName = arr[i].fileName;
                str += "<div>";
                str += "<img src='/boastboard/displayBoard?fileName=" + arr[i].thumbnailURL + "'>";
                str += "<input type='hidden' id='uuid' name='uuid' value='" + uuid + "'>"
                str += "<input type='hidden' id='imgName' name='imgName' value='" + imgName + "'>"
                str += "<input type='hidden' id='fileName' name='fileName' value='" + fileName + "'>"
                str += "<button class='removeBtn' data-name='" + arr[i].imageURL + "'>삭제</button>";
                str += "</div>"
            }
            divArea.append(str);
        }
    </script>
</div>
</body>
</html>