<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/admin}">

<head>
    <title>관리자페이지</title>
    <meta charset="utf-8"/>

</head>
<div layout:fragment="main">
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <!-- 다짐 통계부분 -->
                <div class="panel panel-headline">
                    <div class="panel-heading">
                        <h3 class="panel-title">다짐 통계</h3>
                        <br />
                        <p>관리자는 회원수,트레이너수 및 게시글수를 볼수있습니다.</p>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="metric">
                                    <span class="icon"><i class="far fa-user"></i></span>
                                    <p>
                                        <span class="number" th:text="${user}"></span>
                                        <span class="title">회원수</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="metric">
                                    <span class="icon"><i class="fas fa-running"></i></span>
                                    <p>
                                        <span class="number" th:text="${trainer}"></span>
                                        <span class="title">트레이너수</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="metric">
                      <span class="icon"
                      ><i class="fas fa-clipboard-list"></i
                      ></span>
                                    <p>
                                        <span class="number" th:text="${board}"></span>
                                        <span class="title">게시글수</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OVERVIEW -->
                <!-- 문의사항 시작부분 -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">미완료 1:1 문의</h3>
                        <div class="right"></div>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled todo-list">
                            <li th:each="ooo : ${ooos}">
                                <p>
                                    <a
                                            class="title"
                                            th:text="${ooo.title}"
                                            th:href="@{/admin/1on1Detail/(id = ${ooo.id})}"
                                    ></a>
                                    <span
                                            class="short-description"
                                            th:text="${ooo.content}"
                                    ></span>
                                    <span class="date" th:text="${ooo.regDate}"></span>
                                </p>
                            </li>
                        </ul>
                        <a th:href="@{/admin/1on1Management(category='미완료')}"
                        >더보기</a
                        >
                    </div>
                </div>
                <!-- END TODO LIST -->

                <!-- 결제 시작부분 -->
                <!--                <div class="panel">-->
                <!--                    <div class="panel-heading">-->
                <!--                        <h3 class="panel-title">미완료 1:1 문의</h3>-->
                <!--                        <div class="right">-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <div class="panel-body">-->
                <!--                        <ul class="list-unstyled todo-list">-->
                <!--                            <li th:each="ooo : ${ooos}">-->
                <!--                                <p>-->
                <!--                                    <a class="title" th:text="${ooo.title}" th:href="@{/admin/1on1Detail/(id = ${ooo.id})}"></a>-->
                <!--                                    <span class="short-description" th:text="${ooo.content}"></span>-->
                <!--                                    <span class="date" th:text="${ooo.regDate}"></span>-->
                <!--                                </p>-->
                <!--                            </li>-->
                <!--                        </ul>-->
                <!--                        <a th:href="@{/admin/1on1Management(category='미완료')}">더보기</a>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!-- END TODO LIST -->

                <!-- 회원목록 -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">회원목록</h3>
                        <div class="right"></div>
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>이름</th>
                                <th>성별</th>
                                <th>가입날짜</th>
                                <th>휴대폰번호</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="users : ${user_list}">
                                <td th:text="${users.id}"></td>
                                <td th:text="${users.user_name}"></td>
                                <td th:text="${users.user_gender}"></td>
                                <td th:text="${users.regDate}"></td>
                                <td th:text="${users.user_pn}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="panel-note"></span>
                            </div>
                            <div class="col-md-6 text-right">
                                <a
                                        th:href="@{/admin/userManagement}"
                                        class="btn btn-primary"
                                >모든회원보기</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END 회원목록 -->
                <!-- 트레이너목록 -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">트레이너목록</h3>
                        <div class="right"></div>
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>이름</th>
                                <th>성별</th>
                                <th>가입날짜</th>
                                <th>휴대폰번호</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="trainers : ${trainer_list}">
                                <td th:text="${trainers.id}"></td>
                                <td th:text="${trainers.user_name}"></td>
                                <td th:text="${trainers.user_gender}"></td>
                                <td th:text="${trainers.regDate}"></td>
                                <td th:text="${trainers.user_pn}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="panel-note"></span>
                            </div>
                            <div class="col-md-6 text-right">
                                <a
                                        th:href="@{/admin/trainerManagement}"
                                        class="btn btn-primary"
                                >모든트레이너보기</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END 트레이너목록 -->
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
</div>
</html>