<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{~/js/main/jquery.min.js}"></script>
    <script th:src="@{~/js/main/bootstrap.min.js}"></script>
    <script th:src="@{~/js/main/jquery.easing.min.js}"></script>
    <script th:src="@{~/js/admin.js}"></script>

</head>
<body>
<p th:if="${tr_if == 'user'}" >회원 관리 페이지입니다.</p>
<p th:if="${tr_if == 'trainer'}">트레이너 관리 페이지입니다.</p>
    <div>
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>아이디</th>
                <th>이름</th>
                <th>이메일</th>
                <th>성별</th>
                <th>휴대번호</th>
                <th>주소</th>
                <th>가입일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td><span th:text="${member.id}" th:href="@{/admin/adminMain}" id="member_id"></span></td>
                <td><span th:text="${member.user_id}"></span></td>
                <td><span th:text="${member.user_name}"></span></td>
                <td><span th:text="${member.user_email}"></span></td>
                <td><span th:text="${member.user_rrn}"></span></td>
                <td><span th:text="${member.user_pn}"></span></td>
                <td><span th:text="${member.address_normal}"></span><span th:text="${member.address_detail}"></span></td>
                <td><span th:text="${member.regDate}"></span></td>
                <td><button type="button" class="Delete">탈퇴</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>