<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/default}">

<head>
    <title>board</title>
    <link rel="stylesheet" th:href="@{/css/board/board.css}"/>
    <link rel="stylesheet" th:href="@{/css/board/boardControl.css}">
    <script th:src="@{/js/board/board.js}"></script>
    <style>
        p {
            /*color: #f55959;*/
            font-size: 18px;
        }

        form-control {
            width: 100%;
            margin: 5px 0;
            padding: 3px;

        }

        .files{
            margin-left: 5px;
        }
        /*.custom_btn{*/
        /*    padding: 8px 8px;*/
        /*}*/
        /*.custom_btn success{*/
        /*    padding: 8px 8px;*/
        /*}*/
    </style>

</head>
<div layout:fragment="content" class="content">
    <h3>글 작성</h3>
    <p class="post_warning">※ 광고홍보성 게시물 및 타트레이너 비방게시물은 삭제될 수 있으며, 게시글 작성이 차단될 수 있습니다.</p>
    <form>
        <input type="hidden" th:value="${session.loginUser}" id="member_id" name="member_id">
        <div class="custom_form_control">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
        </div>
        <div class="custom_form_control">
            <label for="user_id">작성자</label>
            <input class="form-control" id="user_id" th:value="${session.loginId}" readonly>
        </div>
<!--        <div class="files">-->
<!--            <input name="uploadFiles" type="file" multiple>-->
<!--            <button type="button" class="uploadBtn">업로드</button>-->
<!--            <div class="uploadResult" id="uploadResult">-->

<!--            </div>-->
<!--        </div>-->
        <div class="custom_form_control">
            <label for="board_content">내용</label>
            <textarea class="form-control" id="board_content" placeholder="내용을 입력하세요" style="resize: none" cols="50"
                      rows="50"></textarea>
        </div>
    </form>
    <a th:href="@{/board}" role="button" class="custom_btn">이전</a>
    <button type="button" class="custom_btn success" id="btn-save">등록</button>


<!--    파일업로드-->
<!--    <script>-->
<!--        // 사진 삭제-->
<!--        $('.uploadResult').on("click", ".removeBtn", function (e) {-->
<!--            var target = $(this);-->
<!--            var fileName = target.data("name");-->
<!--            var targetDiv = $(this).closest("div");-->
<!--            console.log(fileName);-->
<!--            $.post('/removeFile', {fileName: fileName}, function (result) {-->
<!--                console.log(result);-->
<!--                if (result === true) {-->
<!--                    targetDiv.remove();-->
<!--                }-->
<!--            })-->
<!--        })-->
<!--        // 사진 받아오기-->
<!--        $('.uploadBtn').click(function () {-->
<!--            var formData = new FormData();-->
<!--            var inputFile = $("input[type='file']");-->
<!--            var files = inputFile[0].files;-->

<!--            console.log(inputFile);-->
<!--            console.log(files);-->

<!--            for (var i = 0; i < files.length; i++) {-->
<!--                console.log(files[i]);-->
<!--                formData.append("uploadFiles", files[i]);-->
<!--            }-->

<!--            var id = $("#member_id").val();-->

<!--            // 실제 업로드 부분-->
<!--            $.ajax({-->
<!--                url: '/uploadFile/'+id,-->
<!--                processData: false,-->
<!--                contentType: false,-->
<!--                data: formData,-->
<!--                type: "POST",-->
<!--                dataType: "json",-->
<!--                success: function (result) {-->
<!--                    console.log(result);-->
<!--                    showUploadedImages(result);-->
<!--                },-->
<!--                error: function (jqXHR, textStatus, errorThrown) {-->
<!--                    console.log(textStatus);-->
<!--                }-->
<!--            }) // ajax end-->
<!--        });-->

<!--        function showUploadedImages(arr) {-->
<!--            console.log(arr);-->
<!--            var divArea = $(".uploadResult");-->

<!--            var str = "";-->
<!--            for (var i = 0; i < arr.length; i++) {-->
<!--                str += "<div>";-->
<!--                str += "<img src='/display?fileName=" + arr[i].thumbnailURL + "'>";-->
<!--                str += "<button class='removeBtn' data-name='" + arr[i].imageURL + "'>삭제</button>";-->
<!--                str += "</div>"-->
<!--            }-->
<!--            divArea.append(str);-->
<!--        }-->
<!--    </script>-->
</div>


</html>
