<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{layout/default}"
>
<head>
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>

    <style>
        img {
            border: 0;
            vertical-align: middle;
        }

        .trainer_image {
            width: 200px;
            height: 200px;
        }

        .hidden {
            display: none;
        }

    </style>
    <script th:src="@{http://dmaps.daum.net/map_js_init/postcode.v2.js}"></script>
    <script th:src="@{/js/trainer/trainerPage.js?ver=1.0}"></script>

</head>
<div layout:fragment="content">

    <h1>프로필 수정 페이지</h1>
    <form id="trainerInfo">
        <h2>트레이너 대표 이미지</h2>
        <input type="hidden" id="id" name="id" th:value="${trainerInfo.id}">
        <input name="uploadFiles" type="file" multiple>
        <button type="button" id="updateLoadBtn">업로드</button>

        <div class="updateResult">
            <img class="trainer_image" th:src="@{/display(fileName=${trainerInfo.imgName})}">
        </div>
        <div class="updateResult2">
        </div>
        <div>
            <label for="trainer_category">트레이너 분야</label>
            <select name="trainer_category" id="trainer_category" class="category">
                <option value="PT" th:selected="${trainerInfo.trainer_category}=='PT'">PT</option>
                <option value="재활" th:selected="${trainerInfo.trainer_category}=='재활'">재활</option>
                <option value="대회" th:selected="${trainerInfo.trainer_category}=='대회'">대회</option>
                <option value="기타"
                        th:selected="${trainerInfo.trainer_category} != 'PT' and
                        ${trainerInfo.trainer_category} !=' 재활' and
                        ${trainerInfo.trainer_category} != '대회' ">기타</option>
            </select>
            <input type="text" class="input_category" th:value="${trainerInfo.trainer_category}" style="display: none">

        </div>


        <div>
            <label for="trainer_time1">근무 시간</label>
            <input type="hidden" id="trainer_workTime" name="trainer_workTime" th:value="${trainerInfo.trainer_workTime}">
            <input type="time" id="trainer_time1" name="trainer_time1"> ~
            <input type="time" id="trainer_time2" name="trainer_time2">
        </div>

        <!-- 주소 -->
        <ul>
            <li class="th">
                <p>헬스장 주소</p>
            </li>
            <li>
                <label for="trainer_gymName">헬스장 이름</label>
                <input type="text" th:value="${trainerInfo.trainer_gymName}" id="trainer_gymName" name="trainer_gymName">
            </li>
            <li class="td">
                <input
                        type="text"
                        id="zipCode"
                        name="gym_addr"
                        readonly="readonly"
                        class="size_zip_all"
                />
                <button
                        type="button"
                        class="btn zip_btn"
                        id="zip"
                >
                    우편번호
                </button>
                <div class="address_area">
                    <input
                            placeholder="도로명 주소"
                            id="trainer_address_normal"
                            type="text"
                            name="trainer_address_normal"
                            class="address size_address"
                            readonly="readonly"
                            th:value="${trainerInfo.trainer_address_normal}"
                    />
                    <span>기본주소</span>
                </div>
                <div class="address_area">
                    <input
                            placeholder="상세주소"
                            type="text"
                            name="trainer_address_detail"
                            id="trainer_address_detail"
                            class="size_address"
                            th:value="${trainerInfo.trainer_address_detail}"
                    />
                </div>
            </li>
        </ul>

        <div>
            <label for="trainer_instagram">인스타그램</label>
            <input type="text" name="trainer_instagram" id="trainer_instagram" th:value="${trainerInfo.trainer_instagram}">
        </div>
        <div>
            <label for="trainer_kakao">카카오 아이디</label>
            <input type="text" name="trainer_kakao" id="trainer_kakao" th:value="${trainerInfo.trainer_kakao}">
        </div>

        <div>
            <label for="trainer_content">트레이너 경력사항</label><br/>
            <textarea style="resize: none" name="trainer_content" th:text="${trainerInfo.trainer_content}" id="trainer_content" cols="25" rows="15"></textarea>
        </div>


        <button type="button" onclick="trainerUpdate()">수정하기</button>
    </form>

    </div>

</html>
