<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{layout/default}"
>
<head>
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>

    <style>
        img {
            border: 0;
            vertical-align: middle;
        }
        .trainer_image{
            width: 200px;
            height: 200px;
        }
        .hidden {
            display: none;
        }

    </style>
    <script th:src="@{http://dmaps.daum.net/map_js_init/postcode.v2.js}"></script>
</head>
<div layout:fragment="content">

    <h1>프로필 수정 페이지</h1>
    <form id="trainerInfo">
        <h2>트레이너 대표 이미지</h2>
        <input type="hidden" id="id" name="id" th:value="${trainerInfo.id}">
        <input name="uploadFiles" type="file" multiple>
        <button type="button" id="updateLoadBtn">업로드</button>

        <div class="updateResult">
            <img class="trainer_image" th:src="@{/display(fileName=${trainerInfo.imgName})}">
        </div>
        <div class="updateResult2">
        </div>
        <div>
            <label for="trainer_category">트레이너 분야</label>
            <select name="trainer_category" id="trainer_category">
                <option value="PT">PT</option>
                <option value="재활">재활</option>
                <option value="대회">대회</option>
                <option value="기타">기타</option>
            </select>
        </div>
        <div>
            <label for="trainer_time1">근무 시간</label>
            <input type="hidden" id="trainer_workTime" name="trainer_workTime" th:value="${trainerInfo.trainer_workTime}">
            <input type="time" id="trainer_time1" name="trainer_time1"> ~
            <input type="time" id="trainer_time2" name="trainer_time2">
        </div>

        <!-- 주소 -->
        <ul>
            <li class="th">
                <p>헬스장 주소</p>
            </li>
            <li class="td">
                <input
                        type="text"
                        id="zipCode"
                        name="gym_addr"
                        readonly="readonly"
                        class="size_zip_all"
                />
                <button
                        type="button"
                        class="btn zip_btn"
                        id="zip"
                >
                    우편번호
                </button>
                <div class="address_area">
                    <input
                            placeholder="도로명 주소"
                            id="trainer_address_normal"
                            type="text"
                            name="trainer_address_normal"
                            class="address size_address"
                            readonly="readonly"
                            th:value="${trainerInfo.trainer_address_normal}"
                    />
                    <span>기본주소</span>
                </div>
                <div class="address_area">
                    <input
                            placeholder="상세주소"
                            type="text"
                            name="trainer_address_detail"
                            id="trainer_address_detail"
                            class="size_address"
                            th:value="${trainerInfo.trainer_address_detail}"
                    />
                </div>
            </li>
        </ul>

        <div>
            <label for="trainer_instagram">인스타그램</label>
            <input type="text" name="trainer_instagram" id="trainer_instagram" th:value="${trainerInfo.trainer_instagram}">
        </div>
        <div>
            <label for="trainer_kakao">카카오 아이디</label>
            <input type="text" name="trainer_kakao" id="trainer_kakao" th:value="${trainerInfo.trainer_kakao}">
        </div>

        <div>
            <label for="trainer_content">트레이너 경력사항</label><br/>
            <textarea style="resize: none" name="trainer_content" th:text="${trainerInfo.trainer_content}" id="trainer_content" cols="25" rows="15"></textarea>
        </div>


        <button type="button"  onclick="trainerUpdate()">가입하기</button>
    </form>

    <script>
        $(document).ready(function () {
            let zip = $('#zip');

            let updateLoadBtn = document.getElementById('updateLoadBtn');
            let updateResult = document.getElementById('updateResult');

            updateLoadBtn.addEventListener("click", UpdateUpload);
            zip.on("click", GymPostCode);

            findPostCode();
            findTimeCode();
        });

        function trainerUpdate() {
            var id = $('#id').val();
            let trainer_time1 = $('#trainer_time1').val();
            let trainer_time2 = $('#trainer_time2').val();
            let trainer_workTime = trainer_time1 + "~" + trainer_time2;
            let zip = $('#zipCode').val();
            let addr = $('#trainer_address_normal').val();

            let trainer_address_normal = zip + addr;

            var data = {
                trainer_category: $('#trainer_category').val(),
                trainer_workTime,
                uuid: $('#uuid').val(),
                imgName: $('#imgName').val(),
                fileName: $('#fileName').val(),
                trainer_address_normal,
                trainer_address_detail: $('#trainer_address_detail').val(),
                trainer_instagram: $('#trainer_instagram').val(),
                trainer_kakao: $('#trainer_kakao').val(),
                trainer_content: $('#trainer_content').val()
            }

            console.log("data는"+data)

            $.ajax({
                url: '/trainer/trUpdate/' + id,
                type: 'post',
                dataType: "json",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    console.log("성공 데이타"+data);
                    alert('프로필 수정에 성공하였습니다');
                    location.href = "/";
                },
                error: function () {
                    alert('잘못된 정보입니다');
                }
            })

        }

        function findTimeCode() {
            // 기본주소 값 가져오기
            let wt = $('#trainer_workTime').val();
            let time1 = wt.substring(0, 5);
            let time2 = wt.substring(6, 12);
            console.log(time1);
            console.log(time2);
            // zip 코드 삽입
            $('#trainer_time1').attr('value', time1);
            $('#trainer_time2').attr('value', time2);
        }

        // 주소 나누기
        function findPostCode() {
            // 기본주소 값 가져오기
            let adr = $('#trainer_address_normal').val();
            let zip = adr.substring(0,5);
            let trainer_address_normal = adr.substring(5)

            // zip 코드 삽입
            $('#zipCode').attr('value', zip);
            $('#trainer_address_normal').attr('value', trainer_address_normal);
        }

        function showUploadedImages(arr) {
            console.log(arr);
            $('.updateResult').addClass('hidden');
            $('#updateLoadBtn').addClass('hidden');
            var divArea = $(".updateResult2");

            var str = "";

            for (var i = 0; i < arr.length; i++) {
                var uuid = arr[i].thumbnailURL;
                var imgName = arr[i].imageURL;
                var fileName = arr[i].fileName;
                str += "<div>";
                str += "<img src='/display?fileName=" + arr[i].thumbnailURL + "'>";
                str += "<button class='removeBtn' data-name='" + arr[i].imageURL + "'>삭제</button>";
                str += "<input type='hidden' id='uuid' name='uuid' value='" + uuid + "'>"
                str += "<input type='hidden' id='imgName' name='imgName' value='" + imgName + "'>"
                str += "<input type='hidden' id='fileName' name='fileName' value='" + fileName + "'>"
                str += "</div>"
            }
            divArea.append(str);
        }

        $('.updateResult2').on("click", ".removeBtn", function (e) {
            var target = $(this);
            var fileName = target.data("name");
            var targetDiv = $(this).closest("div");

            $('.updateResult').removeClass('hidden');
            $('#updateLoadBtn').removeClass('hidden');

            console.log(fileName);

            $.post('/removeFile', {fileName: fileName}, function (result) {
                console.log(result);
                if (result === true) {
                    targetDiv.remove();
                }
            })
        })

        function UpdateUpload(){

            var formData = new FormData();
            var inputFile = $("input[type='file']");
            var files = inputFile[0].files;

            for (var i = 0; i < files.length; i++) {
                console.log(files[i]);
                formData.append("uploadFiles", files[i]);
            }


            // 실제 업로드 부분
            $.ajax({
                url: '/uploadFile',
                processData: false,
                contentType: false,
                data: formData,
                type: "POST",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    showUploadedImages(result);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            }) // ajax end
        };
        // 도로명주소 가져오는 함수
        function GymPostCode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ""; // 도로명 조합형 주소 변수

                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== "" && /[동|로|가]$/g.test(data.bname)) {
                        extraRoadAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== "" && data.apartment === "Y") {
                        extraRoadAddr +=
                            extraRoadAddr !== "" ? ", " + data.buildingName : data.buildingName;
                    }
                    // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraRoadAddr !== "") {
                        extraRoadAddr = " (" + extraRoadAddr + ")";
                    }
                    // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
                    if (fullRoadAddr !== "") {
                        fullRoadAddr += extraRoadAddr;
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    console.log(data.zonecode);
                    console.log(fullRoadAddr);

                    $("[name=gym_addr]").val(data.zonecode);
                    $("[name=trainer_address_normal]").val(fullRoadAddr);

                    /* document.getElementById('signUpUserPostNo').value = data.zonecode; //5자리 새우편번호 사용
                                document.getElementById('signUpUserCompanyAddress').value = fullRoadAddr;
                                document.getElementById('signUpUserCompanyAddressDetail').value = data.jibunAddress; */
                },
            }).open();
        }


    </script>
    </div>

</html>
