<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{layout/newPage}"
>
<head>
    <title>dietSelect</title>
    <link rel="stylesheet" th:href="@{/css/search.css}">
    <script th:src="@{/js/diet.js}"></script>
</head>
<div layout:fragment="content">
    <div>
        <h1 class="h3 mt-4">음식검색</h1>
        <!--        현재 로그인한 회원의 member_id-->
<!--        <input type="text" th:value="${session.loginUser}" class="member"/>-->
        <input type="hidden" th:value="${session.loginId}" class="login_id" />
        <input type="hidden" th:value="${session.loginId}" class="diet_member_id" />
        <input type="hidden" class="date" value="">

        <div class="search-form my-4">
            <div class="search-input">
                <input type="text" id="diet" placeholder="음식을 입력하세요">
            </div>
            <button type="button" class="search-btn dietSearch">찾기</button>
            <button type="button" class="search-btn dietClose">선택완료</button>
        </div>

        <!--음식 데이터 조회-->
        <div class="row">
            <div class="col-12 col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <!--                        <h5 class="card-title">식단</h5>-->
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>음식이름</th>
                            <th>1회 제공량(g)</th>
                            <th>칼로리(kcal)</th>
                            <th>탄수화물(g)</th>
                            <th>단백질(g)</th>
                            <th>지방(g)</th>
                            <th class="amount">섭취량</th>
                            <th>식사주기</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody class="dietList">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</html>