<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{layout/default}"
>
<head>
    <title>calendar</title>
    <!--   캘린더 CDN  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.css"/>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/locales/ko.js"></script>
    <!-- js, css -->
    <script th:src="@{/js/calendar.js}"></script>
    <link rel="stylesheet" th:href="@{/css/calendar.css}" />

</head>
<div layout:fragment="content">
    <div id="calendar" style="min-width: 300px"></div>
<!--style="display: none"-->
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>번호</th>
                <th>날짜</th>
                <th>메모</th>
                <th>color</th>

            </tr>
            </thead>

            <tbody>
            <tr class="data" th:each="calendar : ${result}">
                <td><span th:text="${calendar.id}"></span></td>
                <td><span th:text="${calendar.calendar_date}"></span></td>
                <td><span th:text="${calendar.calendar_memo}"></span></td>
                <td><span th:text="${calendar.color}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</html>
