<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>calendarInput</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script th:src="@{/js/calendarResult.js}"></script>
</head>
    <div class="content">
        <form action="#" method="POST" name="time_memo_Form">

            <input type="hidden" th:value="${session.loginUser}" id="calendar_user" name="calendar_user">
            색깔 선택<input type='color' name='color' id="color"/><br/>
            시간<input type="time" name="calendar_time" id="calendar_time"/> <br/>
            메모<input type="text" name="calendar_memo" id="calendar_memo"/>
            <input type="hidden" id="calendar_date" value="2021-04-21 14:22"  name="calendar_date"/>

            <input type="hidden" id="date" name="date"/>

            <button type="button" id="submitBtn">전송</button>
        </form>
    </div>

</html>
