<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{layout/default}"
>
<head>
    <title>calendar</title>

    <!--    <link rel="stylesheet" th:href="@{~/css/calendar/fullcalendar.min.css}"/>-->

    <link rel="stylesheet" th:href="@{~/css/calendar/select2.min.css}"/>
    <link rel="stylesheet" th:href="@{~/css/calendar/calendar.css}"/>

    <!--    폰트 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,600">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">



    <script th:src="@{~/js/calendar/moment.min.js}"></script>
    <script th:src="@{~/js/calendar/fullcalendar.min.js}"></script>
    <script th:src="@{~/js/calendar/ko.js}"></script>
    <script th:src="@{~/js/calendar/select2.min.js}"></script>
    <script th:src="@{~/js/calendar/bootstrap-datetimepicker.min.js}"></script>


</head>
<div layout:fragment="content" class="container">

    <div class="title"><h3>PT 일정</h3></div>
    <input type="hidden" th:value="${session.loginUser}" id="trainer_id" name="trainer_id"/>
    <!-- 일자 클릭시 메뉴오픈 -->

    <div id="wrapper">
        <div id="loading"></div>
        <div id="calendar" style="max-width: 900px; margin: 0 auto;"></div>
    </div>

    <script th:src="@{~/js/ptCalendar/ptCalendar.js}"></script>


</div>


</html>
