<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 왼쪽 SIDEBAR 시작부분 -->
<div th:fragment="sidebarFragment">
  <!-- NAVBAR -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div
            class="brand"
            style="width: 192px; height: 29px; margin-top: -30px"
    >
      <a th:href="@{~/admin/adminMain}"
      ><img
              style="object-fit: contain;height: 70px"
              th:src="@{/image/DAGYMLogo.png}"
              class="img-responsive logo"
      /></a>
    </div>
    <div class="container-fluid">
      <div class="navbar-btn">
        <button type="button" class="btn-toggle-fullwidth"></button>
      </div>
      <div id="navbar-menu">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a
                    href="#"
                    class="dropdown-toggle icon-menu"
                    data-toggle="dropdown"
            >
            </a>
            <ul class="dropdown-menu notifications"></ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->
  <!-- 왼쪽 SIDEBAR 시작부분 -->
  <div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
      <nav>
        <ul class="nav">
          <li>
            <a th:href="@{/admin/adminMain}"
            ><i class="lnr lnr-home"></i> <span>홈</span></a
            >
          </li>
          <li>
            <a th:href="@{/admin/userManagement}"
            ><i class="far fa-user"></i> <span>회원 관리</span></a
            >
          </li>
          <li>
            <a th:href="@{/admin/trainerManagement}"
            ><i class="fas fa-running"></i> <span>트레이너 관리</span></a
            >
          </li>
          <li>
            <a th:href="@{/admin/boardManagement}"
            ><i class="fas fa-clipboard-list"></i>
              <span>게시판 관리</span></a
            >
          </li>
          <li>
            <a th:href="@{/admin/faqManagement}"
            ><i class="fas fa-question-circle"></i>
              <span>자주 묻는 질문</span></a
            >
          </li>
          <li>
            <a th:href="@{/admin/1on1Management}"
            ><i class="lnr lnr-book"></i> <span>1:1 문의 관리</span></a
            >
          </li>
          <li>
            <a th:href="@{/admin/noticeManagement}"
            ><i class="lnr lnr-chart-bars"></i>
              <span>공지사항 관리</span></a
            >
          </li>
          <li>
            <a th:href="@{/admin/payManagement}"
            ><i class="lnr lnr-chart-bars"></i>
              <span>결제 내역 관리</span></a
            >
          </li>
          <li>
            <a th:href="@{/admin/ptManagement}"
            ><i class="lnr lnr-apartment"></i>
              <span>PT 신청 관리</span></a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- 왼쪽 사이드바 END부분 -->
</div>

</html>
