!doctype html>
<html xmlns:th="http://www.thymeleaf.org">


<footer class="sticky-footer bg-white" th:fragment="footerFragment">
    <!--    footer 영역, 원하는 것을 넣으면 된다-->

    <!--    <footer class="sticky-footer bg-white">-->
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>copyright &copy; <script> document.write(new Date().getFullYear()); </script> - developed by
              <b><a href="https://indrijunanda.gitlab.io/" target="_blank">DAGYM</a></b>
            </span>
        </div>
    </div>
    <!--    </footer>-->
</footer>
</html>

