<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="headerFragment">

    <div class="dagym">
        <a th:href="@{/}">
            <img th:src="@{~/image/dagym.png}" height="70px"/>
        </a>
    </div>
    <nav class="stroke">
        <ul>
            <li th:if="${session.loginRole== 'user' && session.PTState == '1'}">
                <a th:href="@{/ptUser/mytrainer(id=${session.loginUser})}" style="text-decoration:none">나의 트레이너</a></li>
            <!--             로그인한게 트레이너이면 회원관리(현재 PT중인 회원), PT관리는 트레이너가 신청받은 회원들 조회-->
            <li th:if="${session.loginRole == 'trainer'}"><a th:href="@{/ptUser/manage(id=${session.loginUser})}"
                                                             style="text-decoration:none">회원 관리</a></li>
            <!--            트레이너이면 수락한 회원목록, 회원이면 트레이너 검색창으로 이동-->
            <li><a th:href="@{/ptUser/view}" style="text-decoration:none">PT 신청</a></li>
            <li th:if="${session.loginRole == 'trainer'}"><a th:href="@{/calendar/memo(id=${session.loginUser})}" style="text-decoration:none">일정</a></li>
            <li><a th:href="@{/room}" style="text-decoration:none">채팅</a></li>
            <li><a th:href="@{/board}" style="text-decoration:none">트레이너 게시판</a></li>
        </ul>

    </nav>
    <div class="right_menu">
        <div class="beforLogin_wrap">
        <a th:if="${session.loginUser == null}" th:href="@{/member/login}">
            <span class="material-icons md-48">account_circle</span>
        </a>
        </div>

        <div th:if="${session.loginUser != null}" class="afterLogin">

            <div class="afterLogin_wrap">
<!--                <a href="#" class="notice"><span class="material-icons-outlined">check_circle</span></a>-->
            </div>
            <div class="dropdown">
                <a class="dropdown toggle" data-toggle="dropdown">
                    <strong class="name" th:text="${session.loginName}"></strong> 님
                    <!--                <span clas th:if="${session.loginRole == 'trainer'}"s="caret"></span>-->

                </a>
                <ul class="dropdown-menu dropdown-menu-right " role="menu">
                    <li th:if="${session.loginRole == 'trainer'}"><a class="dropdown-item" th:href="@{/trainer/trainerPage/{id}(id=${session.loginUser})}">트레이너 프로필</a></li>
                    <li><a class="dropdown-item" th:href="@{/member/mypage(member_id = ${session.loginUser})}">마이페이지</a></li>
                    <li><a class="dropdown-item" th:href="@{/diet/list(id=${session.loginId})}">식단</a></li>
                    <li><a class="dropdown-item" th:href="@{/ExRecord/exercise(id=${session.loginId})}">운동기록</a></li>
                    <li><a class="dropdown-item" th:href="@{/inBody/register}">인바디</a></li>
                    <li class="divider"><a class="dropdown-item"></a></li>
                    <li><a class="dropdown-item" th:href="@{/member/logout}">로그아웃</a></li>
                </ul>
            </div>
        </div>
    </div>


</header>

</html>
