<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{layout/default}"
>
<head>
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <style>
        img {
            border: 0;
            vertical-align: middle;
        }

        .trainer_image {
            width: 200px;
            height: 200px;
        }

        .hidden {
            display: none;
        }

        #trainer_content {
            display: none;
        }

    </style>
    <script th:src="@{~/js/trainerJoin.js}"></script>
    <script th:src="@{http://dmaps.daum.net/map_js_init/postcode.v2.js}"></script>
</head>

<div layout:fragment="content">

    <h1>트레이너 추가 정보 기입 페이지 입니다</h1>

    <form id="trainerInfo">
        <h2>트레이너 대표 이미지</h2>
        <input type="hidden" id="id" name="id" th:value="${id}">
        <input name="uploadFiles" type="file" multiple>
        <button type="button" id="uploadBtn">업로드</button>


        <div class="uploadResult"></div>
        <div class="uploadResult2"></div>

        <div>
            <label for="trainer_category">트레이너 분야</label>
            <select name="trainer_category" id="trainer_category">
                <option value="PT">PT</option>
                <option value="재활">재활</option>
                <option value="대회">대회</option>
                <option value="기타">기타</option>
            </select>
        </div>
        <div>
            <label for="trainer_time1">근무 시간</label>
            <input type="hidden" id="trainer_workTime" name="trainer_workTime">
            <input type="time" id="trainer_time1" name="trainer_time1"> ~
            <input type="time" id="trainer_time2" name="trainer_time2">

        </div>

        <div>
            PT 실제 가격(10회 기준) : <input type="text" name="pt_price" id="pt_price"/>

            <br/>
            <label for="discount_price">할인 가격(%)</label>
            <select name="discount_price" id="discount_price">
                <option value="0">0</option>
                <option value="5">5%</option>
                <option value="10">10%</option>
                <option value="15">15%</option>
                <option value="20">20%</option>
            </select>

            <br/>
            <label for="discount_pt_count">횟수추가(회)</label>
            <select name="discount_pt_count" id="discount_pt_count">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <button type="button" id="discount">할인적용</button>

            <br/>

            최종 PT 가격 및 횟수 : <input type="text" id="final_price" name="final_price" value=""/>
            <br/>
            <input type="hidden" id="trainer_pt_total" name="trainer_pt_total">
        </div>
        <!-- 주소 -->
        <ul>
            <li class="th">
                <p>헬스장 주소</p>
            </li>
            <li>
                <label for="trainer_gymName">헬스장 이름</label>
                <input type="text" name="trainer_gymName" id="trainer_gymName">
            </li>
            <li class="td">
                <input
                        type="text"
                        id="zipCode"
                        name="gym_addr"
                        readonly="readonly"
                        class="size_zip_all"
                />
                <button
                        type="button"
                        class="btn zip_btn"
                        id="zip"
                >
                    우편번호
                </button>
                <div class="address_area">
                    <input
                            placeholder="도로명 주소"
                            id="trainer_address_normal"
                            type="text"
                            name="trainer_address_normal"
                            class="address size_address"
                            readonly="readonly"
                    />
                    <span>기본주소</span>
                </div>
                <div class="address_area">
                    <input
                            placeholder="상세주소"
                            type="text"
                            name="trainer_address_detail"
                            id="trainer_address_detail"
                            class="size_address"
                    />
                </div>
            </li>
        </ul>

        <div>
            <label for="trainer_instagram">인스타그램</label>
            <input type="text" name="trainer_instagram" id="trainer_instagram">
        </div>
        <div>
            <label for="trainer_kakao">카카오 아이디</label>
            <input type="text" name="trainer_kakao" id="trainer_kakao">
        </div>

        <div>
            <label for="trainer_content">트레이너 경력사항</label><br/>
            <textarea name="trainer_content" id="trainer_content" cols="30" rows="5" style="display: none"></textarea>
            <div class="showContent"></div>
            <input type="text" name="trainer_contents" id="trainer_contents">
            <button class="addBtn" type="button">추가</button>
        </div>

        <button type="button" class="joinBtn">가입하기</button>
    </form>

    <script>
        $(document).ready(function () {

            let count = 10;

            let pt_price = $('#pt_price').val();
            let pt_discount = $('#discount_price').val();
            let pt_count = $('#discount_pt_count').val();
            let final_price = $('#final_price').val();

            pt_price = parseInt(pt_price);
            pt_discount = parseInt(pt_discount);
            pt_count = parseInt(pt_count);
            final_price = parseInt(final_price);

            $("#discount").click(function () {
                let pt_price = $('#pt_price').val();
                let pt_discount = $('#discount_price').val();
                let pt_count = $('#discount_pt_count').val();


                // 형변환
                pt_price = parseInt(pt_price);
                pt_discount = parseInt(pt_discount);
                pt_count = parseInt(pt_count);

                // 할인금액
                let dis = pt_price - pt_discount * 0.01 * pt_price;
                // 추가 카운트
                let final_count = pt_count + count;

                // 최종값
                $('#final_price').val(final_count + "회 / " + dis);
                var trainer_pt_total = $('#final_price').val();

                $('#trainer_pt_total').val(trainer_pt_total);

            })


        });

    </script>
</div>
</html>