<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{~/js/main/jquery.min.js}"></script>
    <script th:src="@{~/js/main/bootstrap.min.js}"></script>
    <script th:src="@{~/js/main/jquery.easing.min.js}"></script>
    <script th:src="@{~/js/admin/admin.js}"></script>

</head>
<body>
<div layout:fragment="content" class="content">
    <div class="post_header">
        <input type="hidden" th:value="${ooo.id}" id="ooo_num" name="ooo_num">
        <div class="post_info">
            <div class="left">
                <label for="user_id">질문자 : </label>
                <span th:text="${ooo.user_id}" id="user_id"></span>
            </div>
            <div class="right">
                <div class="updated_at">
                    <span>수정날짜:</span>
                    <span th:text="${#temporals.format(ooo.modDate, 'yyyy/MM/dd HH:mm:ss')}">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="ooo_title">
        <label for="question">질문 : </label>
        <span id="question" th:text="${ooo.title}" ></span>
    </div>
    <div>
        <label for="ooo_content">답변 : </label>
        <textarea id="ooo_content" placeholder="내용을 입력하세요" th:text="${ooo.content}"></textarea>
    </div>

    <div class="post_control_btn_area">
        <button class="ooo_save">답변하기</button>
        <a th:href="@{/admin/1on1Management(page=${PageRequestDto.page},
                                        page=${PageRequestDto.page},
                                        type=${PageRequestDto.type},
                                        keyword=${PageRequestDto.keyword})}" class="custom_btn post_delete">이전
        </a>
    </div>
</div>
</body>
</html>