<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{layout/default}"
>
<head>
    <script th:src="@{~/js/trainer/myTrainer.js}"></script>
</head>
<div layout:fragment="content">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>트레이너 번호</th>
            <th>프로필 이미지</th>
            <th>이름</th>
            <th>휴대폰 번호</th>
            <th>헬스장 이름</th>
            <th>헬스장 위치</th>
            <th>PT 가격</th>
            <th>카카오톡 아이디</th>
            <th>인스타그램 아이디</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
<!--            <td th:text="${myTrainer.id}"></td>-->
            <td><img class="trainer_image" width="200px" height="200px" th:src="@{/display(fileName=${myTrainer.trainer_id.imgName})}"></td>
            <td th:text="${myTrainer.member_id.user_name}">이름</td>
            <td th:text="${myTrainer.member_id.user_pn}">폰번호</td>
            <td th:text="${myTrainer.trainer_id.trainer_gymName}">헬스장이름</td>
            <td th:text="${myTrainer.trainer_id.trainer_address_normal}">헬스장위치</td>
            <th th:text="${myTrainer.trainer_id.trainer_pt_total}">PT 가격</th>
            <td th:text="${myTrainer.trainer_id.trainer_kakao}">카카오톡</td>
            <td th:text="${myTrainer.trainer_id.trainer_instagram}">Instagram</td>
            <td><a href="#">채팅하기</a></td>
            <td><button type="button" onclick="myTrainerDetailView()">상세 보기</button></td>
        </tr>
        </tbody>

    </table>

</div>

</html>
