<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{layout/boot4}"
>
<head>
    <link rel="stylesheet" th:href="@{/css/ptBuyInfo.css}"/>
</head>
<div layout:fragment="content">
    <h3>PT 결제 내역</h3>
    <div th:if="${session.loginRole == 'trainer'}">
        <table class="table table-hover">
            <thead>
            <tr class="table-secondary">
                <th>회원이름</th>
                <th>전화번호</th>
                <th>가격</th>
                <th>결제방법</th>
                <th>결제상태</th>
                <th>결제일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="buyers : ${TrbuyerInfo}">
                <td th:text="${buyers.member.user_name}">회원이름</td>
                <td th:text="${buyers.member.user_pn}" class="user_pn">전화번호</td>
                <td th:text="${buyers.pt_amount}">가격</td>
                <td th:text="${buyers.pay_method}">결제방법</td>
                <td th:text="${buyers.bt_cancel}" class="bt_cancel">결제상태</td>
                <td th:text="${#temporals.format(buyers.regDate, 'yyyy/MM/dd HH:mm:ss')}">결제일</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${session.loginRole == 'user'}">
        <table class="table table-hover">
            <thead>
            <tr class="table-secondary">
                <th>트레이너이름</th>
                <th>트레이너전화번호</th>
                <th>가격</th>
                <th>결제방법</th>
                <th>결제상태</th>
                <th>결제일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="buyers : ${MembuyerInfo}">
                <td th:text="${buyers.trainerInfo.member.user_name}">트레이너이름</td>
                <td th:text="${buyers.trainerInfo.member.user_pn}" class="user_pn">트레이너전화번호</td>
                <td th:text="${buyers.pt_amount}">가격</td>
                <td th:text="${buyers.pay_method}">결제방법</td>
                <td th:text="${buyers.bt_cancel}" class="bt_cancel">결제상태</td>
                <td th:text="${#temporals.format(buyers.regDate, 'yyyy/MM/dd HH:mm:ss')}">결제일</td>
            </tr>
            </tbody>
        </table>
    </div>
    <script>
        $(function () {
            phone();
            let a = $('.bt_cancel');
            a.each(function (i, el) {
                let state = $(this).text();
                if (state == 0) {
                    $(this).text("결제승인");
                } else {
                    $(this).text("결제환불");
                }
            });


        });

        function phone(){
            $('.user_pn').each(function (){
                let str = $(this).text();
                let phone = str.replace(/(^02.{0}|^01.{1}|[0-9]{3})([0-9]+)([0-9]{4})/, "$1-$2-$3");
                $(this).text(phone);
            });
        }

    </script>
</div>
</html>