<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{layout/boot4}"
>
<head>
    <script th:src="@{/js/trainer.js?ver=1.0}"></script>
    <script th:src="@{/js/trainerView.js?ver=1.0}"></script>
    <!--    <script src="https://code.jquery.com/jquery-3.3.1.min.js"-->
    <!--            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="-->
    <!--            crossorigin="anonymous"></script>-->
    <link rel="stylesheet" th:href="@{/css/trainerView.css}"/>
    <style>
        .pt_basic_info {
            text-decoration: line-through;
        }

        .pt_discount, .pt_addCount {
            display: none;
        }
    </style>
</head>
<body>
<div layout:fragment="content">

    <input type="hidden" id="role" th:value="${session.loginRole}">
    <div class="total">
        <!--    로그인한 유저롤이 트레이너일 때-->
        <div th:if="${session.loginRole == 'trainer'}">
            <input type="hidden" th:value="${session.loginUser}" id="member_id">
            <div>
                <div class="title"><h3>받은 신청</h3></div>

                <table class="table table-hover applyList text-center">
                    <thead>
                    <tr>
                        <th>회원아이디</th>
                        <th>회원이름</th>
                        <th>연락처</th>
                        <th>(만)나이</th>
                        <th>성별</th>
                        <th>키(cm)</th>
                        <th>몸무게(kg)</th>
                        <th></th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody class="applyListDetail">

                    </tbody>
                </table>

            </div>
        </div>


        <!-- 로그인한 유저롤이 유저일 때-->
        <div th:if="${session.loginRole == 'user'} " class="user">
            <div class="underline1">
                <h2 class="sub-title title">트레이너 찾기</h2>
                <!--                    <hr class="hr-style1">-->
            </div>

            <div class="box1">
                <!--        <a th:href="@{/ptUser/view}">검색으로 찾기</a>-->

                <h1 th:text="${session.loginId}" class="loginId" style="display: none"></h1>
                <input type="hidden" th:value="${session.loginUser}" name="member_id"/>
                <!--트레이너 검색-->
                <div class="searchArea">
                    <form th:action="@{/ptUser/view}" method="get" id="searchForm">
                        <div class="input-group">
                            <input type="hidden" name="page" value="1">
                            <div class="input-group-prepend">
                                <!--                            <select class="custom-select" name="type">-->
                                <select class="form-control" name="type">
                                    <option th:selected="${pageRequestDto.type == null}"></option>
                                    <option value="n" th:selected="${pageRequestDto.type == 'n'}" selected>이름</option>
                                    <option value="g" th:selected="${pageRequestDto.type == 'g'}">헬스장이름</option>
                                    <option value="c" th:selected="${pageRequestDto.type == 'c'}">운동목적</option>
                                    <option value="ki" th:selected="${pageRequestDto.type == 'ki'}">SNS</option>
                                    <option value="p" th:selected="${pageRequestDto.type == 'p'}">경력사항</option>
                                    <option value="ngc" th:selected="${pageRequestDto.type == 'ngc'}">이름+헬스장이름+운동목적
                                    </option>
                                </select>
                                <input class="form-control keyword" id="a" name="keyword" th:value="${pageRequestDto.keyword}" style="display: none"/>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="keywordControl">
                    <input class="form-control keyword" name="keyword" id="b" th:value="${pageRequestDto.keyword}"/>
                </div>
                <div class="" id="button-addon4">
                    <button class="search_btn" type="button">검색</button>
                    <button class="clear_btn" type="button">Clear</button>
                    <button class="map_btn">
                        <a th:href="@{/ptUser/view/map}" class="a_map">맵으로 찾기</a>
                    </button>
                </div>

            </div>

            <div class="box2" style="display: none">
                <div class="underline2">
                    <h1 class="sub-title">내가 신청한 트레이너</h1>
                    <!--                    <hr class="hr-style1">-->
                </div>

                <table class="table table-striped applyList">
                    <thead>
                    <tr>
                        <th>트레이너 이름</th>
                        <th>트레이너 연락처</th>
                        <th>트레이너 카카오</th>
                        <th>트레이너 인스타</th>
                        <th>트레이너 헬스장 일반주소</th>
                        <th>트레이너 헬스장 상세주소</th>
                        <th>PT 가격</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="applyInfoList">

                    </tbody>
                </table>
            </div>

            <div class="user_view">
                <div class="underline3">
                    <h5 class="sub-title title">트레이너 검색 결과</h5>
                    <!--                    <hr class="hr-style1">-->
                </div>
                <div th:each="trainer : ${result.dtoList}" class="card-box">

                    <div class="card">
                        <input type="hidden" class="trainerId" id="trainer_id" th:value="${trainer.id}">
                        <div class="item-img">
                            <img th:if="${trainer.imgName != null}" class="trainer_image" width="240px" height="220px"
                                 th:src="@{/display(fileName=${trainer.imgName})}">
                            <img th:if="${trainer.imgName == null}" th:src="@{~/image/noImg.png}" width="240px"
                                 height="220px">
                        </div>
                        <div class="item-name">
                            <span th:text="${trainer.user_name}">
                                정성헌
                            </span>
                            <span class="trainer-text">
                                트레이너
                            </span>
                            <span th:text="${trainer.member.user_gender}" class="user_gender" id="user_gender"></span>
                            <span th:text="${trainer.member.user_rrn}" class="user_rrn" id="user_rrn">25</span>
                        </div>
                        <!-- <div th:text="${trainer.user_id}" class="item-id">아이디</div> -->
                        <div class="item-gymname">
                            <span>
                                <img th:src="@{~/image/gymicon.png}" width="12px" height="12px">

                            </span>
                            <span th:text="${trainer.trainer_gymName}">MyFit</span>
                        </div>
                        <div>
                            <span th:text="${trainer.trainer_address_normal}"
                                  class="address_normal">(대구 칠곡 중앙대로 598)</span>
                        </div>
                        <div class="item-phone">
                            <span>
                                <img th:src="@{~/image/phoneicon.png}" width="12px" height="12px">
                            </span>
                            <span th:text="${trainer.user_pn}">010-5674-6881</span>
                        </div>
                        <div class="sns-box">
                            <div class="item-kakao">
                                <span>
                                    <img th:src="@{~/image/kakaoicon.png}" width="12px" height="12px">
                                </span>
                                <span th:text="${trainer.trainer_kakao}">wpwkfl1029
                                </span>
                            </div>
                            <div class="item-insta">
                                <span>
                                    <img th:src="@{~/image/instaicon.png}" width="12px" height="12px">
                                </span>
                                <span th:text="${trainer.trainer_instagram}">js_heon</span>
                            </div>
                            <div>
                                <span>
                                    <img th:src="@{~/image/timeicon.png}" width="12px" height="12px">
                                </span>
                                <span th:text="${trainer.trainer_workTime}">11:30~21:30</span>
                            </div>
                            <div>
                                <!--                                <span>-->
                                <!--                                    <img th:src="@{~/image/priceicon.png}" width="12px" height="12px">-->
                                <!--                                </span>-->
                                <span class="pt_basic_info"></span>
                            </div>
                            <div>
                                <span th:text="${trainer.trainer_pt_total}" class="pt_total">12회 / 400000</span>
                                <span style="color: #c53140; font-size: 12px"
                                      th:text="'(+' + ${trainer.trainer_pt_AddCount}+' / '" id="addCount"></span>
                                <span style="color: #c53140; font-size: 12px"
                                      th:text="'-'+${trainer.trainer_pt_discount}+'%)'" id="pdiscount"></span>
                            </div>
                            <div>
                                <span th:text="${trainer.trainer_pt_discount}" class="pt_discount"></span>
                            </div>
                            <div>
                                <span th:text="${trainer.trainer_pt_AddCount}" class="pt_addCount"></span>
                            </div>
                        </div>
                        <div class="btn-box">
                            <span>
                                <button type="button" th:text="PT신청" class="checkBtn">PT신청</button>
                            </span>
                            <span>
                                <button type="button" class="detailBtn">리뷰보기</button>
                                <input type="hidden" id="pageValue" th:value="${pageRequestDto.page}">
                                <input type="hidden" id="typeValue" th:value="${pageRequestDto.type}">
                                <input type="hidden" id="keywordValue" th:value="${pageRequestDto.keyword}">
                            </span>
                        </div>

                    </div>

                </div>

            </div>
        </div>


        <div class="Page navigation ">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:if="${result.prev}">
                    <a class="page-link" th:href="@{/ptUser/view(page = ${result.start -1},
                                        type=${pageRequestDto.type},
                                        keyword=${pageRequestDto.keyword})}">이전</a>
                </li>
                <li class="page-item" th:each="page: ${result.pageList}">
                    <a class="page-link" th:href="@{/ptUser/view(page= ${page},
                                        type=${pageRequestDto.type},
                                        keyword=${pageRequestDto.keyword})}" th:text="${page}">1</a>
                </li>
                <li class="page-item" th:if="${result.next}">
                    <a class="page-link" th:href="@{/ptUser/view(page = ${result.end +1},
                                        type=${pageRequestDto.type},
                                        keyword=${pageRequestDto.keyword})}">다음</a>
                </li>
            </ul>
        </div>

    </div>
</div>
</body>
</html>