<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{layout/default}"
>
<head>
    <script
            type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7d99bcb8539ce0c8e746d91d7e837b78&libraries=services"
    ></script>

    <!--    <link rel="stylesheet" th:href="@{/css/userView.css}"/>-->
</head>
<body>
<div layout:fragment="content">
    <div id="map" style="width: 100%; height: 550px"></div>

    <script th:src="@{/js/trainerMapView.js?ver=1.0}"></script>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>프로필 이미지</th>
            <th>트레이너 아이디</th>
            <th>이름</th>
            <th>휴대폰 번호</th>
            <th>헬스장 이름</th>
            <th>카카오톡 아이디</th>
            <th>인스타그램 아이디</th>
            <th>신청</th>
            <th>상세보기</th>
        </tr>
        </thead>
        <tbody class="tbody">

        </tbody>
    </table>
</div>
</body>
</html>