<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{layout/boot4}"
>
<head>
    <script
            type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7d99bcb8539ce0c8e746d91d7e837b78&libraries=services"
    ></script>
    <link rel="stylesheet" th:href="@{~/css/trainerMapView.css}">
    <!--    <script th:src="@{/js/trainerView.js?ver=1.0}"></script>-->

</head>
<body>
<div layout:fragment="content">
    <input type="hidden" id="userNormalAddr" th:value="${session.userNormal}" readonly/>
    <input type="hidden" id="userDetailAddr" th:value="${session.userDetail}" readonly/>
    <input type="hidden" th:value="${session.loginUser}" name="member_id"/>

    <div class="area">
        <div class="map_area">
            <div id="map"></div>
        </div>
        <div class="tableArea">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>프로필 이미지</th>
                    <th>트레이너 아이디</th>
                    <th>이름</th>
                    <th>휴대폰 번호</th>
                    <th>헬스장 이름</th>
                    <th>카카오톡</th>
                    <th>인스타그램</th>
                    <th>신청</th>
                    <th>상세보기</th>
                </tr>
                </thead>
                <tbody class="tbody">

                </tbody>
            </table>
        </div>
    </div>
    <button type="button"  class="btn btn-outline-primary changekm active">5km</button>

    <button type="button"  class="btn btn-outline-primary changekm">10km</button>

    <button type="button" class="btn btn-outline-primary changekm">15km</button>

    <button type="button" class="btn btn-outline-primary changekm">20km</button>
    <span class="showkm" style="display: none">5</span>

    <script th:src="@{/js/trainerMapView.js?ver=1.0}"></script>

</div>
</body>
</html>