<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{layout/default}"
>
<head>
    <title>PT 신청</title>
    <script th:src="@{/js/trainer.js}"></script>
    <style>
        .card {
            width: 460px;
            /* background-color: bisque; */
        }

        .title {
            font-size: 30px;
        }

        .item {
            display: block;
            /* border: 1px solid; */
        }

        .contents {
            display: none;
        }

        .first {
            display: block;
        }

        .pre {
            display: none;
        }

        .submit {
            display: none;
        }

        svg path {
            fill: none;
            stroke-width: 20px;
            stroke-miterlimit: round;
            transition: stroke-dashoffset 850ms ease-in-svgout;
            /* stroke-dasharray: 200;
            stroke-dashoffset: 200; */
        }
    </style>
</head>
<div layout:fragment="content">
    <div class="container">
        <h2 class="title">PT 신청</h2>

<!--        <div th:each="trainer : ${trainerList}">-->
<!--            <span>트레이너 번호 : </span><span th:text="${trainer.getId()}"></span> <br>-->
<!--            <span>트레이너 아이디 : </span><span th:text="${trainer.getUser_id()}"></span> <br>-->
<!--            <span>트레이너 이름 : </span><span th:text="${trainer.getUser_name()}"></span> <br>-->
<!--            <span>트레이너 이메일 : </span><span th:text="${trainer.getUser_email()}"></span> <br>-->
<!--            <span>트레이너 연락처 : </span><span th:text="${trainer.getUser_pn()}"></span>-->
<!--        </div>-->



        <svg class="bar" width="200" height="20" data-value="25">
            <path class="bg" stroke="#ccc" d="M0 10, 200 10"></path>
            <path
                    class="meter"
                    stroke="#09c"
                    d="M0 10, 200 10"
                    style="stroke-dasharray: 200; stroke-dashoffset: 200"
            ></path>
        </svg>
        <h2 class="percent">25%</h2>
        <div class="card">
            <form>
                <input type="hidden" id="member_id" name="member_id" th:value="${session.loginUser}"/>
                <input type="hidden" id="trainer_id" name="trainer_id" th:value="${trainer_id}"/>
                <!--            member 이름, 전화번호, pt 추가정보 나이,성별 ,키, 몸무게, pt목적, pt 횟수, pt신청 날짜-->
                <!-- first 시작 -->
                <div class="first contents">
                    <div class="title">틀린 정보가 있으시면 밑에 있는 마이페이지 버튼을 눌러서 정보를 변경해주세요</div>

                    <div class="item">
                        이름 : <input type="text" id="user_name" name="user_name" th:value="${member.user_name}"
                                    readonly/>
                    </div>
                    <div class="item">
                        전화번호 : <input type="text" id="user_pn" name="user_pn" th:value="${member.user_pn}" readonly/>
                    </div>
                    <div class="item">
                        나이 : <input type="text" name="user_age" id="user_age"/>
                              <input hidden="hidden" name="user_rrn" id="user_rrn" th:value="${member.user_rrn}"/>
                    </div>
                    <div class="item">
                        성별 :
                        <input type="hidden" name="user_gender" id="user_gender" th:value="${member.user_gender}">
                        <input type="radio" name="user_gender1" id="user_gender1" value="남"/>남
                        <input type="radio" name="user_gender2" id="user_gender2" value="여"/>여
                    </div>
                    <a th:href="@{/member/mypage(member_id = ${session.loginUser})}">마이페이지</a>
                </div>
                <!-- first  끝 -->
                <div class="second contents">
                    <div class="item">
                        키 :  <input type="text" name="member_height"/>
                    </div>
                    <div class="item">
                        몸무게 :  <input type="text" name="member_weight"/>
                    </div>
                </div>
                <!-- second  끝 -->
                <div class="third contents">
                    <div class="item">
                        <h2>운동 목적</h2>
                    </div>

                    <div class="item">
                        <input type="checkbox" name="pt_purpose" value="yyy"/>근력 강화
                    </div>
                    <div class="item">
                        <input type="checkbox" name="pt_purpose" value="yyy"/>체중 증가
                    </div>
                    <div class="item">
                        <input type="checkbox" name="pt_purpose" value="yyy"/>체력 증진
                    </div>
                    <div class="item">
                        <input type="checkbox" name="pt_purpose" value="yyy"/>체형 교정
                    </div>
                    <div class="item">
                        <input type="checkbox" name="pt_purpose" value="yyy"/>재활/통증 케어
                    </div>
                    <div class="item">
                        <input type="checkbox" name="pt_purpose" value="yyy"/>바디 프로필
                    </div>
                    <div class="item">
                        <input type="checkbox" name="pt_purpose" value="yyy"/>기타
                    </div>
                </div>
                <!-- third  끝 -->
                <div class="fourth contents">
                    <div class="item">
                        <input type="date" name="pt_count" value="yyy"/>PT 카운트
                    </div>
                </div>
                <!-- fourth  끝 -->
                <div>
                    <button type="button" class="btn pre">이전</button>
                    <button type="button" class="btn next">다음</button>
                    <button type="button" class="btn submit">전송</button>
                </div>
            </form>
        </div>
        <div>
            <button type="button" onclick="apply()">신청</button>
            <button type="button" onclick="history.go(-1)">이전</button>
        </div>
    </div>

    <script>
        $(function () {
            $(".pre").on("click", preBtn);
            $(".next").on("click", nextBtn);
            changBarPercent();
            gender();
            age();
        });

        function age() {
            var today = new Date();
            var year = String(today.getFullYear()).substring(2, 4);

            let ss = $('#user_rrn').val();

            let getUserYear = parseInt(ss.substring(0, 2));

            // 00년대생 이상
            if (year - getUserYear >= 0) {
                console.log("현재 년도 : ", year);
                console.log("태어난 년도 : ", getUserYear);

                let age = year - getUserYear + 1;
                console.log(age);
                $("#user_age").attr("value", age);

            } else {
                console.log("현재 년도 : ", year);
                console.log("태어난 년도 : ", getUserYear);

                let age = year - getUserYear + 101;
                console.log(age);
                $("#user_age").attr("value", age);
            }
        }


        function gender() {
            // 기본주소 값 가져오기
            let gender = $('#user_gender').val();

            gender = parseInt(gender);
            console.log(gender + "성별");
            console.log(typeof (gender));

            if (gender % 2 == 1) {
                $("input:radio[name='user_gender1']:radio[value='남']").prop("checked", true);
            } else {
                $("input:radio[name='user_gender2']:radio[value='여']").prop("checked", true);
            }
        }

        let page = [true, false, false, false];
        let percentValue = 25;

        function nextBtn() {
            percentValue += 25;
            $(".percent").text(percentValue + "%");
            changBarPercent(percentValue);
            let showPage;
            let hidePage;

            for (let i = 0; i < page.length; i++) {
                if (page[i]) {
                    showPage = i + 1;
                    hidePage = i;
                    $(".pre").show();

                    //   페이지가 0이 아닐때
                    if (i != 0) {
                        page[i] = false;
                        // 페이지가 1 이상 끝-1 사이일때
                        if (i < page.length - 1) {
                            page[i + 1] = true;
                            console.log("중간");
                            //페이지가 끝일때
                            if (i == page.length - 2) {
                                console.log("끝");
                                $(".submit").show();
                                $(".next").hide();
                            }
                        }
                    }
                    // 페이지가 0일때
                    else if (i == 0) {
                        page[i] = false;
                        page[i + 1] = true;
                        console.log("중간");
                    }

                    $(".contents").eq(showPage).show();
                    $(".contents").eq(hidePage).hide();
                    console.log("페이지" + (showPage + 1));
                    break;
                }
            }
            console.log(page);
        }

        function preBtn() {
            percentValue -= 25;
            $(".percent").text(percentValue + "%");
            changBarPercent(percentValue);
            let showPage;
            let hidePage;
            $(".submit").hide();
            $(".next").show();
            for (let i = 0; i < page.length; i++) {
                if (page[i]) {
                    showPage = i - 1;
                    hidePage = i;

                    //   페이지가 1이 아닐때

                    $(".pre").show();
                    page[i] = false;
                    // 페이지가 1 이상 끝-1 사이일때
                    if (i < page.length) {
                        page[i - 1] = true;
                    }
                    if (i == 1) $(".pre").hide();
                    $(".contents").eq(showPage).show();
                    $(".contents").eq(hidePage).hide();
                    console.log("페이지" + (showPage + 1));
                    break;
                }
            }
            console.log(page);
        }

        function changBarPercent(percent) {
            const meters = document.querySelectorAll("svg[data-value] .meter");

            meters.forEach((path) => {
                // Get the length of the path
                let length = path.getTotalLength();

                // console.log(length) and hardcode the value for both stroke-dasharray & stroke-dashoffest styles
                // If unable to hardcode, set dynamically...
                // path.style.strokeDashoffset = length;
                // path.style.strokeDasharray = length;

                // Get the value of the meter
                // let value = parseInt(path.parentNode.getAttribute("data-value"));
                let value = percent || parseInt(path.parentNode.getAttribute("data-value"));
                // Calculate the percentage of the total length
                let to = length * ((100 - value) / 100);

                path.getBoundingClientRect();
                // Set the Offset
                path.style.strokeDashoffset = Math.max(0, to);
            });
        }

    </script>
</div>

</html>
