<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{layout/default}"
>
<head>
    <title>PT회원 목록</title>
    <link rel="stylesheet" th:href="@{/css/userView.css}"/>
    <!--  <script th:src="@{/js/trainer.js?ver=1.0}"></script>-->
</head>
<body>
<div layout:fragment="content">
    <input type="hidden" th:value="${session.loginUser}" class="member_id">
    <h3>회원 목록</h3>
    <table class="table table-hover">
        <thead>
        <th>아이디</th>
        <th>이름</th>
        <th>연락처</th>
        <th>시작날짜</th>
        <th>종료날짜</th>
        <th></th>
        <th></th>
        <th></th>
        </thead>
        <tbody>
        <tr th:each="acceptList: ${acceptList}">
        <td> <span th:text="${acceptList.user_id}"></span></td>
        <td> <span th:text="${acceptList.user_name}"></span></td>
        <td> <span th:text="${acceptList.user_pn}"></span></td>
        <td> <span th:text="${acceptList.start_date}"></span></td>
        <td>  <span th:text="${acceptList.end_date}"></span></td>
            <td> <a class="btn btn-primary" th:href="@{/diet/list(id=${acceptList.user_id})}">식단</a></td>
            <td> <a class="btn btn-primary" th:href="@{/ExRecord/exercise(id=${acceptList.user_id})}">운동기록</a></td>
            <td><a class="btn btn-primary" th:href="@{/inBody/inBodyResult(id=${acceptList.user_id})}">인바디</a></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>