@charset "UTF-8";

.diet {
    background-color: white;
}
td#diet_kcal.diet_kcal{
    font-size: 14px;
    text-align: center;
}
td#diet_carbo.diet_carbo{
    font-size: 14px;
    text-align: center;
}
td#diet_protein.diet_protein{
    font-size: 14px;
    text-align: center;
}
td#diet_fat.diet_fat{
    font-size: 14px;
    text-align: center;
}
.sibar1{
    padding-bottom: 15px;
}
td.am_kcal,td.am_carbo,td.am_protein,td.am_fat{
    text-align: center;
}
td.pm_kcal,td.pm_carbo,td.pm_protein,td.pm_fat{
    text-align: center;
}
td.extra_kcal,td.extra_carbo,td.extra_protein,td.extra_fat{
    text-align: center;
}
.dailyResult{
    text-align: center;
}

.diet_name {

    max-width:50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}