
.chart {
    display: inline-block;
    width: 500px;
    height: 300px;
}

.content {
    padding-top: 20px;
}
.chartArea{
    min-width: 500px;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.chart{
    flex: 1 1 40%;
}
.chart canvas{
    margin: 0 auto;
}

/*.title{*/
/*    width: 100%;*/
/*}*/









