@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* CONTAINER */

.home {
    font-family: 'RixYeoljeongdo_Regular';
    box-sizing: border-box;
    outline: none;
    /*background: rgb(122, 176, 219);*/
    /*font-family: Open sans;*/

    /*width: 100%;*/
    /*height: 900px;*/

    height:850px;
    background-image: url("../image/index_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.home .container {
    max-width: 1266px;
    margin-right: 0 auto;
}
/* MICHAEL IMAGE 사람 이미지부분 */
.home .person {
    float: right;
    margin: 70px 180px 0;
    position: relative;
    border-radius: 70px 0 70px 0;
    overflow: hidden;
}
.home .person img {
    filter: brightness(1.5);
}
.home .person-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #525252;
    z-index: 99;
}
span {
    font-weight: bold;
}
/* MICHAEL TEXT */
.home-text {
    color: #fff;
    margin-top: 220px;
    position: absolute;
    left: 40%;
}
.home-text h6 {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 16px;
}
.home-text h1 {
    text-transform: uppercase;
    font-size: 100px;
}
.home-text p {
    max-width: 500px;
    font-size: 16px;
    margin-top: 230px;
}
.home-text .name span {
    margin-right: 130px;
    display: inline-block;
}
.home-text .name span:last-child {
    margin-right: 0;
}

/* DEFAULT STATE HIDE */
.home .person img,
.student span,
.name span,
.logo,
.menu li,
.small-intro span {
    opacity: 0;
}

.map_area {
    padding: 30px 0px;
    text-align: center;
}

.map_img {
    width: 1140px;
    height: 450px;
    margin: 0 auto;
}

.map_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*두번째 div 배경 */
.introduction .container{
    background-color: #5c91fe;
}

/*
밑에 카드
*/
.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins, sans-serif";
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #08001b; */
    min-height: 100vh;
}
.container {
    width: 100%;
    height: 200x;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    /* background: rgba(0, 0, 0, 0.2); */
}
.container .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #0c002b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.container .card:hover {
    opacity: 1;
}
.container .card::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    widows: 50%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}
.container .card .content {
    padding: 30px;
    text-align: center;
}
.container .card .content h2 {
    position: absolute;
    right: 30px;
    font-size: 4em;
    font-weight: 800;
    color: #1779ff;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}
.container .card:hover .content h2 {
    opacity: 1;
    transform: translateY(-70px);
}
.container .card .content h3 {
    position: relative;
    font-size: 1.5em;
    color: #fff;
    z-index: 2;
    opacity: 0.5;
    letter-spacing: 1px;
    transition: 0.5s;
}
.container .card .content p {
    position: relative;
    font-size: 1em;
    color: #fff;
    z-index: 2;
    opacity: 0.5;
    font-weight: 300;
    transition: 0.5s;
}
.container .card .content h3,
.container .card .content p {
    opacity: 1;
}
.container .card .content a {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background: #fff;
    color: #0c002b;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
.container .card span {
    transition: 0.5;
    opacity: 0;
}
.container .card:hover span {
    opacity: 1;
}
.container .card span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #1779ff);
    animation: animate1 2s linear infinite;
}
@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
.container .card span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #1779ff);
    animation: animate1 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}
.container .card span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, #1779ff);
    animation: animate3 2s linear infinite;
}
@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.container .card span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, #1779ff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.introduction {
    background-color: rgba(0, 0, 0, 0.3);
}