@font-face {
    font-family: "NEXON Lv1 Gothic OTF";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("../image/bg.jpg");
    background-size: cover;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}


.contentsLogin {
    width: 100vw;
    height: 100vh;
    border-radius: 2px;
    /* background-color: dimgray; */
    /*background-image: url("../image/bg.jpg");*/
    /*background-repeat: no-repeat;*/
    padding-top: 90px;
    font-family: 'GmarketSansMedium';
}

.login-area {
    width: 600px;
    height: 530px;
    /*position: absolute;*/
    /*top: 20%;*/
    /*left: 25%;*/
    /*margin: 0 auto;*/
    margin: 0 auto;
    padding-top: 5px;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 8px;
}

.login-title {
    /*font-family: "NEXON Lv1 Gothic OTF";*/
    font-size: 2.2rem;
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
    color: white;
    font-weight: bold;
    padding-top: 50px;
}

.login-subtitle {
    /*font-family: "S-CoreDream-3Light";*/
    font-size: 15px;
    width: 300px;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
    color: white;
}

.login_form {
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}

#user_id,
#user_pw {
    border: none;
    background: none;
    border-bottom: 1px solid #e9e9e9;
    width: 96%;
    margin-top: 20px;
    padding-bottom: 7px;
    padding-left: 7px;
    /* width: 100%;
    height: 30px;
    padding-left: 10px;
    font-size: 1.1rem; */
    color: white;
    font-size: 15px;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #e2e2e2;
    font-size: 15px;
    font-weight: bold;
    font-family: "S-CoreDream-3Light";
}

#loginBtn {
    margin-top: 20px;
    width: 100%;
    height: 38px;
    border: none;
    background-color: rgb(29, 29, 29);
    color: white;
    font-family: "S-CoreDream-3Light";
    border-radius: 2px;
}


label {
    color: white;
}

.line {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 12px;
    margin: 25px 0px;
}

.line::before,
.line::after {
    content: "";
    flex-grow: 1;
    background: rgb(114, 114, 114);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 7px;
}

.other-login {
    width: 100%;
}

button {
    cursor: pointer;
}

.kakao,
.google {
    width: 100%;
    height: 38px;
    border: none;
    color: black;
    font-family: "S-CoreDream-3Light";
    border-radius: 2px;
    font-weight: bold;
}

.kakao {
    /*background-color: #ffd400;*/
    background-color: #FBE300;
    margin-bottom: 10px;
}


.area {
    color: #ffffff;
    padding-top: 10px;
}

.kakao img,
.google img {
    width: 30px;
}

.find {
    padding-left: 120px;
}

.find:hover {
    color: #ffffff;
    text-decoration: none;
}

.check-area a,
.find {
    text-decoration: none;
    color: #ffffff;

}

.sign-area {
    padding-top: 75px;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-weight: inherit;
}

.sign-area a {
    padding-left: 5px;
    color: white;
}

.signupBtn {
    text-decoration: underline;
}