.content {
    padding: 20px;
}

.area {
    display: flex;
    justify-content: center;
    min-width: 1400px;
    flex-wrap: wrap;
}

.map_area{
    min-width: 500px;
    min-height: 400px;
    margin:10px;
}
.btnArea{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

#map {
    min-width: 500px;
    min-height: 400px;
}

.tableArea {
    min-width: 970px;
    height: 650px;
    overflow: auto;
}

.active {
    background: #00aa00;
}