.text-right {
    text-align: right !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.panel {
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
    margin-bottom: 30px;
}

.panel-header {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dddddd;
}

.panel-header h2 {
    font-size: 24px;
}

.trainerViewTable {
    width: 100%;
    border-collapse: collapse;
}

.trainerViewTable td,
.trainerViewTable th {
    text-align: center;
    height: 40px;
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
}

.trainerViewTable th {
    font-size: 16px;
}

.trainerViewTable td {
    font-size: 14px;
}

.trainerViewTable.trainerViewTable-striped tbody tr:nth-child(odd) {
    background-color: #eee;
}

.trainerViewBtn {
    display: inline-block;
    background-color: #ffffff;
    padding: 10px 18px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
}

.trainerView-input {
    height: 50px;
    padding: 0 20px;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 2px;
}


.trainerViewForm-group {
    margin-bottom: 20px;
}

.trainerViewInput-group {
    display: flex;
    align-items: center;
}

.trainerViewInput-group label {
    flex: 0 0 150px;
    font-size: 16px;
}

.trainerViewInput-group input,
.trainerViewInput-group select {
    flex: 1 0 auto;
}

.pagination_area ul {
    list-style: none;
    display: flex;
}

.pagination_area ul li {
    margin: 0 5px;
}

.pagination_area ul li:first-child {
    margin-left: 0px;
}

.pagination_area ul li:last-child {
    margin-right: 0px;
}
