.total {
    margin-left: 10%;
    width: 80%;
}

.text-right {
    text-align: right !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.panel {
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
    margin-bottom: 30px;
}

.panel-header {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dddddd;
}

.panel-header h2 {
    font-size: 24px;
}

.trainerViewTable {
    width: 100%;
    border-collapse: collapse;
}

.trainerViewTable td,
.trainerViewTable th {
    text-align: center;
    height: 40px;
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
}

.trainerViewTable th {
    font-size: 16px;
}

.trainerViewTable td {
    font-size: 14px;
}

.trainerViewTable.trainerViewTable-striped tbody tr:nth-child(odd) {
    background-color: #eee;
}

.trainerViewBtn {
    display: inline-block;
    background-color: #ffffff;
    padding: 10px 18px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
}

.trainerView-input {
    height: 50px;
    padding: 0 20px;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 2px;
}


.trainerViewForm-group {
    margin-bottom: 20px;
}

.trainerViewInput-group {
    display: flex;
    align-items: center;
}

.trainerViewInput-group label {
    flex: 0 0 150px;
    font-size: 16px;
}

.trainerViewInput-group input,
.trainerViewInput-group select {
    flex: 1 0 auto;
}

.pagination_area ul {
    list-style: none;
    display: flex;
}

.pagination_area ul li {
    margin: 0 5px;
}

.pagination_area ul li:first-child {
    margin-left: 0px;
}

.pagination_area ul li:last-child {
    margin-right: 0px;
}
.card-box {
    text-align: center;
    padding: 30px;
    display: inline-block;
    margin-left: 3%;
}

.card {
    /* border: 1px solid #999999; */
    width: 230px;
    display: inline-block;
    /* padding: 3px; */
    border-radius: 5px;
    font-size: 14px;
    box-shadow: gray 2px 2px 2px 2px;
    text-align: left;
    margin: 15px 20px 10px 15px;
}
.item-name {
    margin-bottom: 5px;
    margin-left: 8px;
    padding: 3px 0 2px 0;
    font-weight: bold;
}
.trainer-text {
    font-weight: normal;
    font-size: 13px;
}

.item-img {
    border-radius: 5px 5px 0 0;
    text-align: center;
    overflow: hidden;
}
.img-img {
    object-fit: fill;
}

.item-gymname {
    /* border-bottom: 1px solid gray; */
    margin-left: 10px;
    margin-bottom: 2px;
}

.item-phone {
    /* border-bottom: 1px solid gray; */
    margin-left: 10px;
    padding: 4px 0 4px 0;
}

.sns-box {
    /* border-bottom: 1px solid gray; */
    margin-left: 10px;
    padding: 1px 0 4px 0;
}
.item-kakao {
    margin-bottom: 2px;
}

.btn-box {
    text-align: center;
    padding: 11px 0 9px 0;
}

.checkBtn {
    width: 80px;
    padding: 7px;
    border: 0px;
    margin-right: 2px;
    background-color: #FFD400;
    font-size: 12px;

}

.detailBtn {
    width: 80px;
    margin-left: 2px;
    padding: 7px;
    border: 0px;
    background-color: #FFD400;
    font-size: 12px;

}

.sub-title {
    font-size: 22px;
    font-weight: bold;
}
.underline1 {
    width: 150px;
}
.underline2 {
    width: 220px;
}
.underline3 {
    width: 200px;
}
.hr-style1 {
    width: 20px;
    height: 7px;
    background-color: black;
}
.box1 {
    margin-bottom: 60px;
}
.box2 {
    margin-bottom: 120px;
    border-top: 2px solid #777777;
    padding-top: 30px;
}
.user_view {
    border-top: 2px solid #777777;
    padding-top: 30px;
}
.custom-select {
    width: 250px;
    height: 30px;
}
.form-control {
    width: 250px;
}
.search_btn {
    width: 100px;
    height: 40px;
    background-color: #FFD400;
    border: 0px;
    margin-left: 20px;
    margin-top: 10px;
}
.clear_btn {
    width: 100px;
    height: 40px;
    background-color: #FFD400;
    border: 0px;
}
.a_map {
    display: block;
    margin-left: 170px;
    margin-bottom: 3px;
    text-decoration: underline;
}
