<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/default}">
<head>
    <link rel="shortcut icon" th:href="@{image/icon-48x48.png}"/>

    <title>Main</title>

    <link rel="stylesheet" th:href="@{/css/index.css}"/>


</head>
<div layout:fragment="content">
<!--    <div class="back">-->
<!--    <div class="container">-->
<!--        <div class="card">-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--            <div class="content">-->
<!--                <h2>01</h2>-->
<!--                <h3>Post Title</h3>-->
<!--                <p>다짐은 다짐은 다짐은 다짐은 다짐은</p>-->
<!--                <a href="#"> Read More</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="card">-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--            <div class="content">-->
<!--                <h2>02</h2>-->
<!--                <h3>Post Title</h3>-->
<!--                <p>다짐은</p>-->
<!--                <a href="#"> Read More</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="card">-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--            <div class="content">-->
<!--                <h2>03</h2>-->
<!--                <h3>Post Title</h3>-->
<!--                <p>다짐은</p>-->
<!--                <a href="#"> Read More</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    </div>-->
</div>

</html>