<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{layout/default}"
>
<head>
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<div layout:fragment="content">


    <div class="bg">
        <video width="100%" muted autoplay loop>
            <source th:src="@{~/video/bgVideo.mp4}" type="video/mp4">
        </video>
        <div class="textArea">
            <div class="text">
                <p>우리는 함께 운동한다.</p>
            </div>
            <div class="dagymText">
                <p>DAGYM</p>
            </div>
        </div>
    </div>

    <!--        <div class="home">-->
    <!--            <div class="container">-->
    <!--&lt;!&ndash;                <div class="person">&ndash;&gt;-->
    <!--&lt;!&ndash;                    <span class="person-overlay"></span>&ndash;&gt;-->
    <!--&lt;!&ndash;                    <img src="images/person.png" alt="" />&ndash;&gt;-->
    <!--&lt;!&ndash;                </div>&ndash;&gt;-->
    <!--                <div class="home-text">-->
    <!--                    <h6 class="student">우리는 함께 운동한다.</h6>-->
    <!--                    <h1 class="name">DAGYM</h1>-->
    <!--&lt;!&ndash;                    <p class="small-intro">&ndash;&gt;-->
    <!--&lt;!&ndash;                        DAGYM은 트레이너들과 회원들의 PT관리를 편리하고 간편하게&ndash;&gt;-->
    <!--&lt;!&ndash;                        관리를할수있도록 제공하는 서비스입니다.&ndash;&gt;-->
    <!--&lt;!&ndash;                    </p>&ndash;&gt;-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        <div class="introduction">-->
    <!--            <div class="container">-->
    <!--                <div class="card">-->
    <!--                    <span></span>-->
    <!--                    <span></span>-->
    <!--                    <span></span>-->
    <!--                    <span></span>-->
    <!--                    <div class="content">-->
    <!--                        <h2>01</h2>-->
    <!--                        <h3>식단</h3>-->
    <!--                        <p>식단관리 서비스를 제공합니다</p>-->
    <!--                        <a th:href="@{/diet/list(id=${session.loginId})}"> Read More</a>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="card">-->
    <!--                    <span></span>-->
    <!--                    <span></span>-->
    <!--                    <span></span>-->
    <!--                    <span></span>-->
    <!--                    <div class="content">-->
    <!--                        <h2>02</h2>-->
    <!--                        <h3>인바디</h3>-->
    <!--                        <p>인바디관리 서비스를 제공합니다.</p>-->
    <!--                        <a th:href="@{/inBody/register}"> Read More</a>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="card">-->
    <!--                    <span></span>-->
    <!--                    <span></span>-->
    <!--                    <span></span>-->
    <!--                    <span></span>-->
    <!--                    <div class="content">-->
    <!--                        <h2>03</h2>-->
    <!--                        <h3>운동기록</h3>-->
    <!--                        <p>운동기록 서비스를 제공합니다</p>-->
    <!--                        <a th:href="@{/ExRecord/exercise(id=${session.loginId})}"> Read More</a>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->

    <div class="map_area">
        <h2 class="mapH2">당신의 건강을 책임지는 다짐입니다.</h2>
        <p class="mapP">다짐본사는 대구에 있습니다.</p>
        <div class="mapAera">
            <div id="map" style="width:1400px;height:450px;"></div>
            <!--            <div class="map_img">-->
            <!--                <img th:src="@{~/static/image/map.png}" alt="" />-->
            <!--            </div>-->
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7d99bcb8539ce0c8e746d91d7e837b78"></script>
    <script th:src="@{/js/index.js}"></script>

</div>
</html>
