<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script th:src="@{~/js/main/jquery.min.js}"></script>
    <script th:src="@{~/js/main/bootstrap.min.js}"></script>
    <script th:src="@{~/js/main/jquery.easing.min.js}"></script>
    <script th:src="@{~/js/payment.js}"></script>

</head>
<body>
<span class="test" th:text="${merchant_uid}"></span>
<script th:inline="javascript">
    $(function () {
        // var merchant_uid = [[${merchant_uid}]].toString();
        let merchant_uid = $('.test').text()
        window.Android.processDATA(merchant_uid);
    });
</script>
</body>
</html>