<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script th:src="@{~/js/main/jquery.min.js}"></script>
    <script th:src="@{~/js/main/bootstrap.min.js}"></script>
    <script th:src="@{~/js/main/jquery.easing.min.js}"></script>
    <script th:src="@{~/js/payment.js}"></script>

</head>
<body>
검증완료
<script th:inline="javascript">
    $(function () {
        window.Android.processDATA();

        var merchant_uid = [[${merchant_uid}]];
    });
</script>
<!--<button onclick="$(function (){window.close()})">완료</button>-->
</body>
</html>