<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/default}">
<div layout:fragment="content">
    <input name="uploadFiles" type="file" multiple>
    <button class="uploadBtn">업로드</button>

    <div class="uploadResult">

    </div>

    <script>

        // 사진 삭제
        $('.uploadResult').on("click",".removeBtn", function (e){

            var target = $(this);
            var fileName = target.data("name");
            var targetDiv = $(this).closest("div");
            console.log(fileName);

            $.post('/removeFile',{fileName: fileName}, function (result){
                console.log(result);
                if (result === true) {
                    targetDiv.remove();
                }
            })
        })

        // 사진 받아오기
        $('.uploadBtn').click(function () {
            var formData = new FormData();
            var inputFile = $("input[type='file']");
            var files = inputFile[0].files;

            console.log(files)

            for (var i = 0; i < files.length; i++) {
                console.log(files[i]);
                formData.append("uploadFiles", files[i]);
            }


            // 실제 업로드 부분
            $.ajax({
                url: '/uploadFile',
                processData: false,
                contentType: false,
                data: formData,
                type: "POST",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    showUploadedImages(result);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            }) // ajax end
        });

        function showUploadedImages(arr) {
            console.log(arr+"====================================");
            var divArea = $(".uploadResult");

            var str = "";
            for (var i = 0; i < arr.length; i++) {
                str += "<div>";
                str += "<img src='/display?fileName="+arr[i].thumbnailURL+"'>";
                str += "<button class='removeBtn' data-name='" + arr[i].imageURL + "'>삭제</button>";
                str += "</div>"
            }
            divArea.append(str);
        }
    </script>

</div>


</html>
