<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/default}">
<head>
    <title>inbodyResult</title>
    <!--    css -->
    <link rel="stylesheet" th:href="@{/css/inBodyResult.css}">
    <script th:src="@{/js/inBody.js}"></script>
    <!--    차트 관련-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!--    날짜 데이터 포맷 관련 -->
    <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
    ></script>
    <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/ko.js"
    ></script>
    <!--    -->
    <script th:src="@{/js/chart.js}"></script>
    <link rel="stylesheet" th:href="@{/js/chart.js}">
</head>
<div layout:fragment="content">
    <div>
        <h1>인바디 결과</h1>
        <table border="1" style="display: none">
            <tr>
                <th>인바디번호</th>
                <th>인바디아이디</th>
                <th>체중</th>
                <th>기초대사량</th>
                <th>체지방률</th>
                <th>골격근량</th>
                <th>등록날짜</th>
            </tr>
            <tr th:each="inbody : ${inBody}">
                <td th:text="${inbody.id}"></td>
                <td th:text="${inbody.inBody_user_id}"></td>
                <td th:text="${inbody.inBody_weight}" class="inBody_weight"></td>
                <td th:text="${inbody.inBody_rmr}" class="inBody_rmr"></td>
                <td th:text="${inbody.inBody_bfp}" class="inBody_bfp"></td>
                <td th:text="${inbody.inBody_smm}" class="inBody_smm"></td>
                <td th:text="${inbody.inBody_date}" class="inBody_date"></td>
            </tr>
        </table>
    </div>
    <div class="chart">
        <canvas width="500px" height="300px" id="weight"></canvas>
    </div>
    <div class="chart">
        <canvas width="500px" height="300px" id="rmr"></canvas>
    </div>
    <div class="chart">
        <canvas width="500px" height="300px" id="bfp"></canvas>
    </div>
    <div class="chart">
        <canvas width="500px" height="300px" id="smm"></canvas>
    </div>

    <script th:src="@{/js/inBodyResult.js}"></script>
</div>
</html>
