<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/default}">
<head>
    <title>inbody</title>
    <script th:src="@{/js/inBody.js}"></script>
    <link rel="stylesheet" th:href="@{/css/inBody.css}" />
</head>

<div layout:fragment="content">
    <div class="head">InBody</div>
    <div class="inBody">
        <form name="inBodyForm" id="inBodyForm">
            <input type="hidden" th:value="${session.loginUser}" name="inBody_member_id" id="inBody_member_id">
            <input type="hidden" th:value="${session.loginId}" name="inBody_user_id" id="inBody_user_id"/>

            <div class="form-group">
                <label for="inBody_weight">체중(kg)</label>
                <input type="text" name="inBody_weight" id="inBody_weight" />
            </div>
            <div class="form-group">
                <label for="inBody_rmr">기초 대사량(kcal)</label>
                <input type="text" name="inBody_rmr" id="inBody_rmr"/>
            </div>
            <div class="form-group">
                <label for="inBody_bfp">체지방률(%)</label>
                <input type="text" name="inBody_bfp" id="inBody_bfp"/>
            </div>
            <div class="form-group">
                <label for="inBody_smm">골격근량(kg)</label>
                <input type="text" name="inBody_smm" id="inBody_smm"/>
            </div>
            <div class="form-group">
                <label for="inBody_date">날짜 입력</label>
                <input type="datetime-local" name="inBody_date" id="inBody_date"/>
            </div>
            <div class="form-group">
                <button type="button" id="inBodyBtn">전송</button>
            </div>
            <a th:href="@{/inBody/inBodyResult(id=${session.loginId})}">인바디결과</a>
        </form>
        <div class="inBodyInfo">
            <h3>다양한 결과항목을 이해하기 쉽도록 보여주는 인바디결과</h3>
            <p>- DAGYM만의 특별한서비스 인바디기록 서비스</p>
            <p>- 인바디는 1~2 주에 한 번을 주기로 하여 정기적으로 측정하는 것을 권장하고 있습니다.</p>
            <p>- 공복상태에서 측정하는 것이 정확합니다.</p>
            <p>- 인바디 기록을 저장할수있는 캘린더 기능</p>
            <!--            <p>- 체성분에 대해 쉽게 설명되어 있는 체성분분석</p>-->
            <p>- 그래프 길이를 비교하여 몸 상태를 알 수 있는 골격근분석</p>
            <p>- 실제 비만 정도를 알 수 있는 체지방률 기록가능</p>
            <p>- 체중,골격근량,체지방률의 변화를 보여주는 신체변화</p>
            <p>- 골격근량 : 골격근량 그래프 길이가 체지방량  보다 길면 강인한 몸 상태를 의미</p>
            <p>- 체지방률 : 내장지방과 피하지방으로 나뉘는 지방의 총량</p>
            <p>- 체중: 몸무게 또는 체중(體重)은 몸의 무게 또는 질량을 뜻한다. </p>
            <p>- 기초대사량: 우리 몸이 기본적으로 신진대사에 사용하는 에너지양을 뜻한다.</p>
        </div>
    </div>
</div>
</html>